<div class="payment">
   <p> 🌲🌲The value of life is not in its duration, but in its donation. You are not important because of how long you live,
      you are important because of how effective you live 🌲🌲</p>
   <table class="table">
      <thead class="thead-dark">
         <tr>

            <th scope="col">BANK NAME</th>
            <th scope="col">ACCOUNT NAME</th>
            <th scope="col">ACCOUNT NUMBER</th>
            <th scope="col">IFSC NUMBER</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>CENTRAL BANK OF INDIA</td>
            <td>SLIET ALUMNI ASSOCIATION</td>
            <td>3652214249</td>
            <td>CBIN0283105</td>
         </tr>
      </tbody>
   </table>
</div>