<div class="homepage__header-container">
    <nav class="nav">
        <a href="#" class="nav__logo">
            <img src="../../../assets/img/sliet-logo.png" alt="sliet-logo" />
            SLIET Alumni
        </a>
        <div class="nav__menu">
            <a routerLink="/" class="nav__menu__link">Home</a>
            <a routerLink="/about" class="nav__menu__link">About</a>
            <a routerLink="/" class="nav__menu__link">Gallery</a>
            <a routerLink="/alumni" class="nav__menu__link">Alumni</a>
            <a routerLink="/contact" class="nav__menu__link">Contact</a>
        </div>
        <div class="nav__cta">
            <a routerLink="/sign-in" class="nav__cta__link">Login/Register</a>
        </div>
        <div class="nav__mobile-nav__icon"></div>
    </nav>
</div>