<div class="homepage__header-container">
    <div class="mobile-nav">
        <div class="mobile-nav__close-button">X</div>
        <div class="mobile-nav__menu">
            <a href="#" class="mobile-nav__menu__link">Home</a>
            <a href="alumni.html" class="mobile-nav__menu__link">Alumni</a>
            <a href="#" class="mobile-nav__menu__link">About</a>
            <a href="#" class="mobile-nav__menu__link">Gallery</a>
            <a href="#" class="mobile-nav__menu__link">Contact</a>
        </div>
        <div class="mobile-nav__cta">
            <a href="#" class="mobile-nav__cta__link">Login / Register</a>
        </div>
    </div>
    <nav class="nav">
        <a href="#" class="nav__logo">
            <img src="../../../assets/img/sliet-logo.png" alt="sliet-logo" /> SLIET Alumni
        </a>
        <div class="nav__menu">
            <a routerLink="/" class="nav__menu__link">Home</a>
            <a routerLink="/about" class="nav__menu__link">About</a>
            <a routerLink="/" class="nav__menu__link">Gallery</a>
            <a routerLink="/alumni" class="nav__menu__link">Alumni</a>
            <a routerLink="/contact-us" class="nav__menu__link">Contact</a>
            <a *ngIf="isLoginFn()" routerLink="/dashboard" class="nav__menu__link">Dashboard</a>
        </div>
        <div class="nav__cta">
            <a *ngIf="!isLoginFn()" routerLink="/sign-in" class="nav__cta__link">Login/Register</a>
            <a *ngIf="isLoginFn()" routerLink="/sign-in" (click)="logOutFn()" class="nav__cta__link">Log Out</a>
        </div>
        <div class="nav__mobile-nav__icon"></div>
    </nav>
</div>
<script>
    const mobileNav = document.querySelector('.mobile-nav');
    const mobileNavCloseButton = document.querySelector('.mobile-nav__close-button');
    const mobileNavOpenButton = document.querySelector('.nav__mobile-nav__icon');

    mobileNavOpenButton.addEventListener('click', (e) => {
        mobileNav.style.right = '0';
    });
    mobileNavCloseButton.addEventListener('click', (e) => {
        mobileNav.style.right = '-100%';
    });
</script>