<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
  crossorigin="anonymous"
/>
<div class="container">
  <div class="row align-items-start">
    <div class="col-lg-8 m-15px-tb">
      <div class="row">
        <div class="col-sm-6" routerLink="/article/name/123">
          <div class="blog-grid">
            <div class="blog-img">
              <div class="date">
                <span>04</span>
                <label>FEB</label>
              </div>
              <a href="#">
                <img
                  src="https://via.placeholder.com/400x200/FFB6C1/000000"
                  title=""
                  alt=""
                />
              </a>
            </div>
            <div class="blog-info">
              <h5>
                <a href="#">Prevent 75% of visitors from google analytics</a>
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="btn-bar">
                <a href="#" class="px-btn-arrow">
                  <span>Read More</span>
                  <i class="arrow"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="blog-grid">
            <div class="blog-img">
              <div class="date">
                <span>04</span>
                <label>FEB</label>
              </div>
              <a href="#">
                <img
                  src="https://via.placeholder.com/400x200/D3D3D3/000000"
                  title=""
                  alt=""
                />
              </a>
            </div>
            <div class="blog-info">
              <h5>
                <a href="#">Prevent 75% of visitors from google analytics</a>
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="btn-bar">
                <a href="#" class="px-btn-arrow">
                  <span>Read More</span>
                  <i class="arrow"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="blog-grid">
            <div class="blog-img">
              <div class="date">
                <span>04</span>
                <label>FEB</label>
              </div>
              <a href="#">
                <img
                  src="https://via.placeholder.com/400x200/87CEFA/000000"
                  title=""
                  alt=""
                />
              </a>
            </div>
            <div class="blog-info">
              <h5>
                <a href="#">Prevent 75% of visitors from google analytics</a>
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="btn-bar">
                <a href="#" class="px-btn-arrow">
                  <span>Read More</span>
                  <i class="arrow"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="blog-grid">
            <div class="blog-img">
              <div class="date">
                <span>04</span>
                <label>FEB</label>
              </div>
              <a href="#">
                <img
                  src="https://via.placeholder.com/400x200/D3D3D3/000000"
                  title=""
                  alt=""
                />
              </a>
            </div>
            <div class="blog-info">
              <h5>
                <a href="#">Prevent 75% of visitors from google analytics</a>
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="btn-bar">
                <a href="#" class="px-btn-arrow">
                  <span>Read More</span>
                  <i class="arrow"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="blog-grid">
            <div class="blog-img">
              <div class="date">
                <span>04</span>
                <label>FEB</label>
              </div>
              <a href="#">
                <img
                  src="https://via.placeholder.com/400x200/E0FFFF/000000"
                  title=""
                  alt=""
                />
              </a>
            </div>
            <div class="blog-info">
              <h5>
                <a href="#">Prevent 75% of visitors from google analytics</a>
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="btn-bar">
                <a href="#" class="px-btn-arrow">
                  <span>Read More</span>
                  <i class="arrow"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="blog-grid">
            <div class="blog-img">
              <div class="date">
                <span>04</span>
                <label>FEB</label>
              </div>
              <a href="#">
                <img
                  src="https://via.placeholder.com/400x200/FFF0F5/000000"
                  title=""
                  alt=""
                />
              </a>
            </div>
            <div class="blog-info">
              <h5>
                <a href="#">Prevent 75% of visitors from google analytics</a>
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="btn-bar">
                <a href="#" class="px-btn-arrow">
                  <span>Read More</span>
                  <i class="arrow"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1"
                ><i class="fas fa-chevron-left"></i
              ></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#"
                >2 <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#"
                ><i class="fas fa-chevron-right"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 m-15px-tb blog-aside">
      <app-blog-sidebar></app-blog-sidebar>
    </div>
  </div>
</div>
