<div class="executive container mt-5">
    <div class="executive__card">
        
        <div class="homepage__features__group">
          
            <div class="card homepage__features__card">
              <div class="card__img homepage__feature__card__img">
                <img  src="../../../../assets/img/homepage__announcement.jpg" alt="Announcements" />
              </div>
              <div class="card__content hompage__feature__card__content">
                <div class="card__content__heading hompage__feature__card__content__heading heading-3">
                  Director, SLIET
                </div>
                <p class="
                    card__content__paragraph
                    hompage__feature__card__content__paragraph
                    paragraph
                  ">
                  Dear Alumni,<br>
                  SLIET is an institution of acaemic excellence in India and has made significantg contribution to society in terms of prouducing numerous scholars, and intellectuals who are serving in India and Abroad. At the outset, I would like to extend heartly greetings to you all on my behalf and on behalf of faculty staff and students of SLIET.
                  
                </p>
                
              </div>
            </div>
            <div class="card homepage__features__card">
              <div class="card__img homepage__feature__card__img">
                <img src="../../../../assets/img/homepage__committee.jpg" alt="Committee" />
              </div>
              <div class="card__content hompage__feature__card__content">
                <div class="card__content__heading hompage__feature__card__content__heading heading-3">
                  Dean(SW), SLIET
                </div>
                <p class="
                    card__content__paragraph
                    hompage__feature__card__content__paragraph
                    paragraph
                  ">
                  The publication solely meant for providing accountability of alumni funds recognizing the donors and the alumni to be aware of the happening at the institute and get involved for the new ventures. The last few years was exciting with several new initiztes taken and ideas conceived being implemented. This time of reflection 
                  of what achieved in the last few years.
                </p>
               
              </div>
            </div>
            <div class="card homepage__features__card">
              <div class="card__img homepage__feature__card__img">
                <img src="../../../../assets/img/homepage__comment.jpg" alt="Comments" />
              </div>
              <div class="card__content hompage__feature__card__content">
                <div class="card__content__heading hompage__feature__card__content__heading heading-3">
                  Chairman,SAA
                </div>
                <p class="
                    card__content__paragraph
                    hompage__feature__card__content__paragraph
                    paragraph
                  ">
                  I am writing to as the Chairman of SLIET 
                  Alumni Associatio discussing various 
                  improvements and challenges of your
                  great Alma Mater.<br>
                  I congratulates the alumni and students 
                  who have come forward to help the institute
                  and the faculty who are 
                  relentlessly serving this great institute
                  and helping sustain its high standard in 
                  education excellence
                </p>
              
              </div>
            </div>
          </div>
    </div>
</div>