<div class="executive container mt-5">
    <div class="executive__card">
        
        <div class="homepage__features__group">
          
            <div class="card homepage__features__card">
              <div class="card__img homepage__feature__card__img">
                <img  src="../../../../assets/img/homepage__announcement.jpg" alt="Announcements" />
              </div>
              <div class="card__content hompage__feature__card__content">
                <div class="card__content__heading hompage__feature__card__content__heading heading-3">
                  Announcements
                </div>
                <p class="
                    card__content__paragraph
                    hompage__feature__card__content__paragraph
                    paragraph
                  ">
                  Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend
                  pellentesque natoque etiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt officiis minima ipsa repellendus vel. Reprehenderit nobis ab minima non commodi! Itaque minima maiores aspernatur reprehenderit dolor ullam adipisci odio fugiat.
                </p>
                
              </div>
            </div>
            <div class="card homepage__features__card">
              <div class="card__img homepage__feature__card__img">
                <img src="../../../../assets/img/homepage__committee.jpg" alt="Committee" />
              </div>
              <div class="card__content hompage__feature__card__content">
                <div class="card__content__heading hompage__feature__card__content__heading heading-3">
                  Committee
                </div>
                <p class="
                    card__content__paragraph
                    hompage__feature__card__content__paragraph
                    paragraph
                  ">
                  Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend
                  pellentesque natoque etiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nobis eum ratione. Hic modi neque aperiam perferendis sequi blanditiis exercitationem, eos quis quaerat aliquam totam maxime? Delectus numquam molestiae illum.
                </p>
               
              </div>
            </div>
            <div class="card homepage__features__card">
              <div class="card__img homepage__feature__card__img">
                <img src="../../../../assets/img/homepage__comment.jpg" alt="Comments" />
              </div>
              <div class="card__content hompage__feature__card__content">
                <div class="card__content__heading hompage__feature__card__content__heading heading-3">
                  Comments
                </div>
                <p class="
                    card__content__paragraph
                    hompage__feature__card__content__paragraph
                    paragraph
                  ">
                  Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend
                  pellentesque natoque etiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas debitis assumenda quibusdam soluta mollitia sit magnam rerum accusantium laudantium repudiandae eum odio, dolorem, voluptatem, rem ut itaque in iusto ullam.
                </p>
              
              </div>
            </div>
          </div>
    </div>
</div>