<section class="">
    <div class="">
        <div class=" container ">
            <div class=" container__res">
                <div class="advisory__committe ">
                    <div class="mt-5" >
                        <div class="card">

                            <img src="../../../../assets/img/Director.png" />

                            <div class="card-content">
                                <h4 class="card-title">
                                    Director, SLIET
                                </h4>
                                <p class="paragraph advisory__committe__para">
                                    Dear Alumni, SLIET 18 an institution of academic excellence in India and has made Significant contribution to society, In terms of producing numerous scholars, and intellectuals who are serving in India and Abroad. At the outset would like to extend hearty greetings to you all on my own behalf and on behalf of faculty, staff and students of SLIET.                                </p>
                            </div>

                        </div>
                    </div>
                    <div class= "mt-5">
                        <div class="card">

                            <img src="../../../../assets/img/homepage__comment.jpg" />

                            <div class="card-content">
                                <h4 class="card-title">

                                    Dean(SW), SLIET

                                </h4>
                                <p class="paragraph advisory__committe__para">
                                    The publication solely meant for providing accountability of alumni funds, recognizing the donors and the alumni to be aware of the happening at the institute and get involved for the new ventures The last few years was exciting with several new initiatives taken and ideas concelved being implemented. This time of reflection of what achieved in the last few year

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5">
                        <div class="card">

                            <img src="../../../../assets/img/SukhcharanSingh.png" />

                            <div class="card-content">
                                <h4 class="card-title">
                                    
                                        Chairman, SAA
                                   
                                </h4>
                                <p class=" paragraph advisory__committe__para">
                                    am writing to as the Chairman of SLIET Alumni Association discussing various Improvements and challenges of your great Alma Mater 1.congratulate the alumni and students who have come forward to help the Institute and the faculty who are relentlessly serving this greatAnbitation Windows and helping sustain its high standarder trigs totivata Windows education excellence
                                </p>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>