<div class="about__body-container">
    <!-- Main Part Here -->

    <header class="about__header">
      <h1 class="about__header__heading">Sliet Alumni</h1>
      <div class="about__header__heading heading-3">" Together, we can make a difference "</div>
    </header>
    <main class="about__main">
      <section class="about__paragraph">
        <p>We are Alumnies of Sant Longowal Institute of Engineering and Technology</p>
        <p>
          We focus on faculty, as opposed to facilities, budgets, endowments or students. We do so
          because We believe, based on many decades of work as a teacher, a scholar and an
          administrator, that the quality of the faculty determines the quality of the university.
          Everything else flows from the quality of the faculty. If the faculty are good, you will
          attract good students and you will have alumni who will raise funds for you.
        </p>
      </section>
      <section class="homepage__about-us">
        <h2 class="heading-2 homepage__about-us__heading homepage__section__heading"></h2>
        <div class="homepage__about-us__container">
          <div data-aos="zoom-in" class="homepage__about-us__container__img">
            <img src="../../../../assets/img/homepage__about-us.jpg" alt="Passion led us here" />
          </div>
          <div data-aos="zoom-in" class="homepage__about-us__container__content">
            <h3 class="homepage__about-us__container__content__heading">
              What, Who and Where are we?
            </h3>
            <p class="homepage__about-us__container__content__paragraph paragraph">
              We focus on faculty, as opposed to facilities, budgets, endowments or students. We
              do so because We believe, based on many decades of work as a teacher, a scholar and
              an administrator, that the quality of the faculty determines the quality of the
              universit
            </p>
            <a routerLink="/about" class="homepage__about-us__container__content__cta">Learn More</a>
          </div>
        </div>
      </section>
    </main>
  </div>