<div class="about__body-container">
    <!-- Main Part Here -->

    <header class="about__header">
      <h1 class="about__header__heading">Sliet Alumni</h1>
      <div class="about__header__heading heading-3">" Together, we can make a difference "</div>
    </header>
    <main class="about__main">
      <section class="about__paragraph">
        <p>We are Alumnies of Sant Longowal Institute of Engineering and Technology</p>
        <p>
          We focus on faculty, as opposed to facilities, budgets, endowments or students. We do so
          because We believe, based on many decades of work as a teacher, a scholar and an
          administrator, that the quality of the faculty determines the quality of the university.
          Everything else flows from the quality of the faculty. If the faculty are good, you will
          attract good students and you will have alumni who will raise funds for you.
        </p>
      </section>
    </main>
  </div>