<div class="dashboard__body-container">
    <header class="dashboard__header">
        <div class="dashboard__edit-profile-container__heading heading-3">
           Pending Articles
          </div>
          <div class="dashboard__header__profile">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">S.No.</th>
                  <th scope="col">Article Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Tag</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Aprove</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <th scope="row"></th>
                  <td class="col-md-3">
                    
                  </td>
                  <td class="col-md-3">
                    
                  </td>
                  <td></td>
                  <td>
                    <a >
                      <i class="bi bi-box-arrow-up-right p-3"></i>
                    </a>
                    <a >
                      <i class="bi bi-pencil-square p-3"></i>
                    </a>
                    <a
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                      
                    >
                      <i class="bi bi-trash p-3"></i>
                      
                    </a>
                  </td>
                  <td>
                    <i class="bi bi-patch-check p-3"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </header>
</div>