<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="mainsection">
        <div class="heading">
            <h2>Executive Committee</h2>
        </div>
        <div class="cardWrap">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="circle">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9fO0Qokr4N07mtm2Rli4fDm9DuRPifqtZBH-leKHM&s"
                                alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Pravin Kumar</h3>
                            <p class="card-text text-center">Executive</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="circle">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9fO0Qokr4N07mtm2Rli4fDm9DuRPifqtZBH-leKHM&s"
                                alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Ayush Kumar</h3>
                            <p class="card-text text-center">Executive</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="circle">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9fO0Qokr4N07mtm2Rli4fDm9DuRPifqtZBH-leKHM&s"
                                alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Shoaib Akhtar</h3>
                            <p class="card-text text-center">Executive</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="circle">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9fO0Qokr4N07mtm2Rli4fDm9DuRPifqtZBH-leKHM&s"
                                alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Harsimarn Singh</h3>
                            <p class="card-text text-center">Executive</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cardWrap">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="circle">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9fO0Qokr4N07mtm2Rli4fDm9DuRPifqtZBH-leKHM&s"
                                alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Mr. Sony Goyal</h3>
                            <p class="card-text text-center">Executive</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="circle">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9fO0Qokr4N07mtm2Rli4fDm9DuRPifqtZBH-leKHM&s"
                                alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Mr. Ankur Kapoor</h3>
                            <p class="card-text text-center">Executive</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="circle">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9fO0Qokr4N07mtm2Rli4fDm9DuRPifqtZBH-leKHM&s"
                                alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Mr. Pawan Thakur</h3>
                            <p class="card-text text-center">Executive</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="circle">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9fO0Qokr4N07mtm2Rli4fDm9DuRPifqtZBH-leKHM&s"
                                alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Dr. Mandeep Singh</h3>
                            <p class="card-text text-center">Executive</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
</body>

</html>