.homepage__body-container {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-black);
  }
  .homepage__features__group__landing{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin-bottom: 2rem;
  }
  .homepage__features__group__director img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }
  .homepage__features__group__Ass h3{
      font-size: large;
  }
  .homepage__features__group__Ass p{
    text-align: justify;
  }
  .homepage__features__group__director{
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
  }
  .homepage__features__group__director__details p{
    opacity: .5;
    font-weight: 600;

  }
  .homepage__features__group__director__para p{
    font-size: small;
    line-height: 1.7;
  }
  .homepage__features__group__director__details h3{
    font-size: medium;
  }
  .homepage__features__group__director__details{
    margin-left: .5rem;
    
  }
  
  .homepage__features__group__director__image {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .homepage__features__group__director__image img{
    width: 180px;
    padding: .5rem;
    border: 1px solid black;
  }
  .images{
    object-fit: contain;  
    transition:transform 450ms;
    margin-right: 10px;
    cursor: pointer;
  }
.section::-webkit-scrollbar {
    background-color: white;
    height: 10px;

}
.section::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
  
}
.homepage__features__group__director__news__text h4{

  font-size: large;
}
.homepage__features__group__director__news__text p{
  font-size: small;
}
.homepage__features__group__director__news__head{
  justify-content: space-between;
}
.homepage__features__group__director__news__head a{
  font-size: large;
  text-decoration: none;
  color: rgb(3, 199, 133);
}
.homepage__features__group__director__news__image img{
  border-radius: unset;
  width: 150px;
  height: 150px;

}
