<div class="homepage__body-container">
  <header class="homepage__header">
    <h1 class="homepage__header__heading heading-1">Welcome<br />SLIET Alumni & Friends</h1>
  </header>
  <main class="homepage__main">
    <div class="homepage__after-header">
      <a href="#" class="homepage__after-header__link">Learn More</a>
      <a href="#" class="homepage__after-header__link">Browse Alumni</a>
      <a href="#" class="homepage__after-header__link">Login / Signup</a>
    </div>
    <section class="homepage__welcome">
      <h2 class="heading-2 homepage__welcome__heading">
        Welcome, alumni, parents, and friends!
      </h2>
      <p class="paragraph homepage__welcome__paragraph homepage__section__heading">
        Whether you’re looking to reconnect or grow your career, support SLIET’s mission or
        learn about the impact of giving, you’ve come to the right place. If you’re interested
        in contributing to SLIET, we’ll show you how, where, and why. If you’ve come to connect,
        we encourage you to check out communities, career offerings, and events. Take a look
        around and find the SLIET that speaks to you.
      </p>
      <p class="paragraph homepage__welcome__paragraph">
        Alumni, parents, and friends like you make SLIET stronger. Join us and be proud to
        SLIET. And if you don’t see what you’re looking for, we’re just a click away.
      </p>
    </section>

    <section class="homepage__features">
      <h2 class="heading-2 homepage__features__heading homepage__section__heading">Features</h2>
      <div class="homepage__features__group">
        <div class="card homepage__features__card">
          <div class="card__img homepage__feature__card__img">
            <img src="../../../../assets/img/homepage__news.jpg" alt="Newspaper" />
          </div>
          <div class="card__content hompage__feature__card__content">
            <div class="card__content__heading hompage__feature__card__content__heading heading-3">
              NewsRoom
            </div>
            <p class="
                card__content__paragraph
                hompage__feature__card__content__paragraph
                paragraph
              ">
              Get Latest college updates
            </p>
            <a href="#" class="card__cta hompage__feature__card__cta">Learn More</a>
          </div>
        </div>
        <div class="card homepage__features__card">
          <div class="card__img homepage__feature__card__img">
            <img src="../../../../assets/img/homepage__announcement.jpg" alt="Announcements" />
          </div>
          <div class="card__content hompage__feature__card__content">
            <div class="card__content__heading hompage__feature__card__content__heading heading-3">
              Announcements
            </div>
            <p class="
                card__content__paragraph
                hompage__feature__card__content__paragraph
                paragraph
              ">
              Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend
              pellentesque natoque etiam.
            </p>
            <a href="#" class="card__cta hompage__feature__card__cta">Learn More</a>
          </div>
        </div>
        <div class="card homepage__features__card">
          <div class="card__img homepage__feature__card__img">
            <img src="../../../../assets/img/homepage__committee.jpg" alt="Committee" />
          </div>
          <div class="card__content hompage__feature__card__content">
            <div class="card__content__heading hompage__feature__card__content__heading heading-3">
              Committee
            </div>
            <p class="
                card__content__paragraph
                hompage__feature__card__content__paragraph
                paragraph
              ">
              Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend
              pellentesque natoque etiam.
            </p>
            <a href="#" class="card__cta hompage__feature__card__cta">Learn More</a>
          </div>
        </div>
        <div class="card homepage__features__card">
          <div class="card__img homepage__feature__card__img">
            <img src="../../../../assets/img/homepage__comment.jpg" alt="Comments" />
          </div>
          <div class="card__content hompage__feature__card__content">
            <div class="card__content__heading hompage__feature__card__content__heading heading-3">
              Comments
            </div>
            <p class="
                card__content__paragraph
                hompage__feature__card__content__paragraph
                paragraph
              ">
              Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend
              pellentesque natoque etiam.
            </p>
            <a href="#" class="card__cta hompage__feature__card__cta">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    <section class="homepage__about-us">
      <h2 class="heading-2 homepage__about-us__heading homepage__section__heading">About Us</h2>
      <div class="homepage__about-us__container">
        <div class="homepage__about-us__container__img">
          <img src="../../../../assets/img/homepage__about-us.jpg" alt="Passion led us here" />
        </div>
        <div class="homepage__about-us__container__content">
          <h3 class="homepage__about-us__container__content__heading">
            What, Who and Where are we?
          </h3>
          <p class="homepage__about-us__container__content__paragraph paragraph">
            We focus on faculty, as opposed to facilities, budgets, endowments or students. We
            do so because We believe, based on many decades of work as a teacher, a scholar and
            an administrator, that the quality of the faculty determines the quality of the
            universit
          </p>
          <a href="#" class="homepage__about-us__container__content__cta">Learn More</a>
        </div>
      </div>
    </section>
    <section class="homepage__why-choose-us">
      <h2 class="heading-2 homepage__why-choose-us__heading homepage__section__heading">
        Why Choose Us?
      </h2>
      <div class="homepage__why-choose-us__container">
        <div class="card homepage__why-choose-us__card">
          <div class="card__img homepage__why-choose-us__card__img">
            <img src="../../../../assets/img/homepage__aim-learning.svg" alt="Newspaper" />
          </div>
          <div class="card__content hompage__why-choose-us__card__content">
            <p class="
                card__content__paragraph
                hompage__why-choose-us__card__content__paragraph
                paragraph
              ">
              We aim on learning
            </p>
          </div>
        </div>
        <div class="card homepage__why-choose-us__card">
          <div class="card__img homepage__why-choose-us__card__img">
            <img src="../../../../assets/img/homepage__experience.svg" alt="Newspaper" />
          </div>
          <div class="card__content hompage__why-choose-us__card__content">
            <p class="
                card__content__paragraph
                hompage__why-choose-us__card__content__paragraph
                paragraph
              ">
              We truly believe SLIET Experience
            </p>
          </div>
        </div>
        <div class="card homepage__why-choose-us__card">
          <div class="card__img homepage__why-choose-us__card__img">
            <img src="../../../../assets/img/homepage__time.svg" alt="Newspaper" />
          </div>
          <div class="card__content hompage__why-choose-us__card__content">
            <p class="
                card__content__paragraph
                hompage__why-choose-us__card__content__paragraph
                paragraph
              ">
              SLIET Alumni contribute time
            </p>
          </div>
        </div>
        <div class="card homepage__why-choose-us__card">
          <div class="card__img homepage__why-choose-us__card__img">
            <img src="../../../../assets/img/homepage__lively.svg" alt="Newspaper" />
          </div>
          <div class="card__content hompage__why-choose-us__card__content">
            <p class="
                card__content__paragraph
                hompage__why-choose-us__card__content__paragraph
                paragraph
              ">
              Lively Alumni association
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="homepage__join-now">
      <h2 class="homepage__join-now__heading heading-2">What are you waiting for?</h2>
      <a href="#" class="homepage__join-now__cta">Join Now</a>
    </section>
  </main>
</div>