
.homepage__body-container {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-black);
  }
  .homepage__features__group__landing{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin-bottom: 2rem;
  }
  .homepage__features__group__director img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }
  .homepage__features__group__Ass h3{
      font-size: large;
  }
  .homepage__features__group__Ass p{
    text-align: justify;
  }
  .homepage__features__group__director{
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    
  }
  .homepage__features__group__director__details p{
    opacity: .5;
    font-weight: 600;

  }
  .homepage__features__group__director__para p{
    font-size: small;
    line-height: 1.7;
    text-align: justify;
  }
  .homepage__features__group__director__details h3{
    font-size: medium;
  }
  .homepage__features__group__director__details{
    margin-left: .5rem;
    
  }
  
  .homepage__features__group__director__image {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .homepage__features__group__director__image img{
    width: 180px;
    padding: .5rem;
    border: 1px solid black;
  }
  .images{
    object-fit: contain;  
    transition:transform 450ms;
    margin-right: 10px;
    cursor: pointer;
  }
.section::-webkit-scrollbar {
    background-color: white;
    height: 10px;

}
.carousel-item img{
  width: 100%;
  height: 25rem;
}
.section::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
  
}
.homepage__features__group__director__news__text h4{

  font-size: large;
}
.homepage__features__group__director__news__text p{
  font-size: small;
}
.homepage__features__group__director__news__head{
  justify-content: space-between;
}
.homepage__features__group__director__news__head a{
  font-size: large;
  text-decoration: none;
  color: rgb(3, 199, 133);
}
.homepage__features__group__director__news__image img{
  border-radius: 5px;
  width: 150px;
  height: 150px;

}
.homepage__features__group__director__news__text p{
  text-align: justify;
}
.homepage__features__group__director__news__block{
  display: flex;
  // flex-direction: row-reverse;
}
.homepage__features__group__director__upcomingEvents{
  background-color: white;
}
.homepage__features__group__landing__crousel{
  width: 100%;
  padding: 1rem;
 
}
.carousel-cell
{
  height: 40rem;
  display: flex;
  gap: 30px !important;
  align-items: center;
  justify-content: center;
}
.carousel-cell img{
  // height: 100rem !important;
  object-fit: cover;

  width: 40rem !important;
}
@media screen and (max-width:1080px) {
  .homepage__features__group__director__news__block{
    display: block;
    // flex-direction: row-reverse;
  }
  .homepage__features__group__director__news__image img{
    border-radius: 5px;
    width: 100%;
    height: 100px;
  
  }
  
}

.hover{
  cursor: pointer;
}
.hover:hover{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  transition: all 1s ease;
}
.homepage__features__group__director__news__upcoming__event{
  background-color: white;
}