<div class="homepage__body-container">

  <header class="homepage__header">
    <h1 class="homepage__header__heading heading-1">Welcome<br />SLIET Alumni & Friends</h1>
  </header>
  <main class="homepage__main">
    <div class="donation">
      <button routerLink="/donation">Donation</button>
    </div>
    <div class="homepage__after-header">
      <a routerLink="/about" class="homepage__after-header__link">Learn More</a>
      <a routerLink="/alumni" class="homepage__after-header__link">Browse Alumni</a>
      <a routerLink="/sign-in" class="homepage__after-header__link">Login / Signup</a>
    </div>
    <section class="homepage__welcome">
      <div class="">
        <div class=" homepage__features__group__landing ">
          <div class="homepage__features__group__Ass">
            <h3>Welcome to SLIET Alumni Assosiation (SAA)</h3>
            <p>Founded in 2017, SAA is registered under Societies Registration Act (XXI of 1860) and as amended by
              Punjab Amendment Act, 1957. The primary mission of SAA is to make fruitful gap between Alumni and its Alma
              Mater along with Students of SLIET. We hope you have a great experience visiting our website and to learn
              to about various facilities, benefits and services you get to enjoy as a registered member.
          </div>
        </div>
        <div *ngIf ="images" data-aos="zoom-in" class="bg-light homepage__features__group__landing__crousel p-2">
          <h3 class="p-2 text-center">Our Alumni</h3>

<!-- 
          <div class="carouselCell">

            <img class="crouselImage" *ngFor="let image of data" [src]="image.imageUrl" />
          </div> -->
          <carousel [images]="images" [cellsToShow]="5" [loop]="true" [autoplay]="true" [autoplayInterval]="3000" >
    
          </carousel>

        </div>
       
        <div class=" homepage__features__group__landing ">
          <div class="">

            <div data-aos="slide-up" class="homepage__features__group__director p-4 mt-5">
              <div class="homepage__features__group__director__news__head notice d-flex ">
                <h4>important Notice</h4>
                <div class="noticeScroll" >


                  <div class="notice__title" *ngFor="let events of impotatntNotice" >
                    <p>{{events?.title.slice(0,30)}}...</p>
                    <a [routerLink]="'/article/' + events?.url">Go To</a>
                  </div>
                </div>
              </div>
              <hr>

              <div class=" d-flex">

              </div>
            </div>
          </div>
          <div class="">
            <div class="homepage__features__group__director__news">

              <div data-aos="slide-up" class="homepage__features__group__director mt-5 p-4">
                <div class="homepage__features__group__director__news__head d-flex ">
                  <h4>News & Stories</h4>

                  <a routerLink="/blog">Veiw All</a>

                </div>
                <hr>
                <div>

                  <div *ngFor="let post of newsdata">
                    <div *ngIf="(post?.postStatus === 1) || (userDetail.role >=2)"
                      class="homepage__features__group__director__news__block p-3">
                      <div class="homepage__features__group__director__news__text">
                        <h4>{{post?.title}}</h4>
                        <h1>{{post?.tag}}</h1>
                        <p>{{ (post?.description.length>6)? (post?.description | slice:0:60)+'...':(post?.description)
                          }}</p>
                        <div style="display:  flex; padding: 2px; font-size: small;  justify-content: space-around;">
                          <span><i class=" mx-2 fa fa-calendar" aria-hidden="true"></i>
                            {{post?.createdAt.slice(0,10)}}</span>
                          <span style="color:rgb(3, 199, 133); padding: 2px; cursor: pointer;"
                            [routerLink]="'/article/' + post?.url">Read More</span>
                        </div>
                        <hr>
                      </div>

                      <div class=" p-3 homepage__features__group__director__news__image ms-2">
                        <img [src]="post?.posterImageUrl" alt="SLIETian as Deputy">
                      </div>
                    </div>
                  </div>


                </div>
              </div>

            </div>
          </div>
          <div class="  ">
            <div data-aos="slide-up" class="homepage__features__group__director__news__upcoming__event mt-5 p-4">
              <div class=" d-flex" style="justify-content: space-between;">
                <h4 class="">Upcoming Events</h4>
                <a class="" style="color: rgb(3, 199, 133); font-size: large;" routerLink="/blog">Veiw All</a>

              </div>
              <hr>
              <div *ngFor="let events of eventData">
                <div *ngIf="(events?.postStatus === 1) || (userDetail.role >=2)"
                  class="homepage__features__group__director__news__block p-3">
                  <div class="homepage__features__group__director__news__text">
                    <h4>{{events?.title}}</h4>
                    <p>{{ (events?.description.length>6)? (events?.description | slice:0:60)+'...':(events?.description)
                      }}</p>
                    <div style="display:  flex-end; padding: 2px; font-size: small;  justify-content: space-around;">
                      <!-- <span ><i class=" mx-3 fa fa-calendar" aria-hidden="true"></i> {{post?.date.slice(0,10)}}</span> -->
                      <span style="color:rgb(3, 199, 133); padding: 2px; cursor: pointer;" class="mx-3"
                        [routerLink]="'/article/' + events?.url">Read More</span>
                    </div>
                    <hr>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section data-aos="slide-up" class="homepage__welcome">
      <h2 class="heading-2 homepage__welcome__heading">
        Welcome, alumni, parents, and friends!
      </h2>
      <p class="paragraph homepage__welcome__paragraph homepage__section__heading">
        Whether you’re looking to reconnect or grow your career, support SLIET’s mission or
        learn about the impact of giving, you’ve come to the right place. If you’re interested
        in contributing to SLIET, we’ll show you how, where, and why. If you’ve come to connect,
        we encourage you to check out communities, career offerings, and events. Take a look
        around and find the SLIET that speaks to you.
      </p>
      <p class="paragraph homepage__welcome__paragraph">
        Alumni, parents, and friends like you make SLIET stronger. Join us and be proud to
        SLIET. And if you don’t see what you’re looking for, we’re just a click away.
      </p>
    </section>

    <!-- <section class="homepage__features">
      <h2 data-aos="slide-up" class="heading-2 homepage__features__heading homepage__section__heading">Features</h2>
      <div class="homepage__features__group">
        <div data-aos="flip-right" class="card homepage__features__card">
          <div class="card__img homepage__feature__card__img">
            <img src="../../../../assets/img/homepage__news.jpg" alt="Newspaper" />
          </div>
          <div class="card__content hompage__feature__card__content">
            <div class="card__content__heading hompage__feature__card__content__heading heading-3">
              NewsRoom
            </div>
            <p class="
                card__content__paragraph
                hompage__feature__card__content__paragraph
                paragraph
              ">
              Get Latest college updates
            </p>
            <a href="#" class="card__cta hompage__feature__card__cta">Learn More</a>
          </div>
        </div>
        <div data-aos="slide-up" class="card homepage__features__card">
          <div class="card__img homepage__feature__card__img">
            <img src="../../../../assets/img/homepage__announcement.jpg" alt="Announcements" />
          </div>
          <div class="card__content hompage__feature__card__content">
            <div class="card__content__heading hompage__feature__card__content__heading heading-3">
              Announcements
            </div>
            <p class="
                card__content__paragraph
                hompage__feature__card__content__paragraph
                paragraph
              ">
              Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend
              pellentesque natoque etiam.
            </p>
            <a href="#" class="card__cta hompage__feature__card__cta">Learn More</a>
          </div>
        </div>
        <div data-aos="slide-up" class="card homepage__features__card">
          <div class="card__img homepage__feature__card__img">
            <img src="../../../../assets/img/homepage_committee.jpg" alt="Committee" />
          </div>
          <div class="card__content hompage__feature__card__content">
            <div class="card__content__heading hompage__feature__card__content__heading heading-3">
              Committee
            </div>
            <p class="
                card__content__paragraph
                hompage__feature__card__content__paragraph
                paragraph
              ">
              Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend
              pellentesque natoque etiam.
            </p>
            <a href="#" class="card__cta hompage__feature__card__cta">Learn More</a>
          </div>
        </div>
        <div data-aos="flip-left" class="card homepage__features__card">
          <div class="card__img homepage__feature__card__img">
            <img src="../../../../assets/img/homepage__comment.jpg" alt="Comments" />
          </div>
          <div class="card__content hompage__feature__card__content">
            <div class="card__content__heading hompage__feature__card__content__heading heading-3">
              Comments
            </div>
            <p class="
                card__content__paragraph
                hompage__feature__card__content__paragraph
                paragraph
              ">
              Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend
              pellentesque natoque etiam.
            </p>
            <a href="#" class="card__cta hompage__feature__card__cta">Learn More</a>
          </div>
        </div>
      </div>
    </section> -->
    <section class="homepage__why-choose-us">
      <h2 class="heading-2 homepage__why-choose-us__heading homepage__section__heading">
        Why Choose Us?
      </h2>
      <div class="homepage__why-choose-us__container">
        <div data-aos="zoom-in" class="card homepage__why-choose-us__card">
          <div class="card__img homepage__why-choose-us__card__img">
            <img src="../../../../assets/img/homepage__aim-learning.svg" alt="Newspaper" />
          </div>
          <div class="card__content hompage__why-choose-us__card__content">
            <p class="
                card__content__paragraph
                hompage__why-choose-us__card__content__paragraph
                paragraph
              ">
              We aim on learning
            </p>
          </div>
        </div>
        <div data-aos="zoom-in" class="card homepage__why-choose-us__card">
          <div class="card__img homepage__why-choose-us__card__img">
            <img src="../../../../assets/img/homepage__experience.svg" alt="Newspaper" />
          </div>
          <div class="card__content hompage__why-choose-us__card__content">
            <p class="
                card__content__paragraph
                hompage__why-choose-us__card__content__paragraph
                paragraph
              ">
              We truly believe SLIET Experience
            </p>
          </div>
        </div>
        <div data-aos="zoom-in" class="card homepage__why-choose-us__card">
          <div class="card__img homepage__why-choose-us__card__img">
            <img src="../../../../assets/img/homepage__time.svg" alt="Newspaper" />
          </div>
          <div class="card__content hompage__why-choose-us__card__content">
            <p class="
                card__content__paragraph
                hompage__why-choose-us__card__content__paragraph
                paragraph
              ">
              SLIET Alumni contribute time
            </p>
          </div>
        </div>
        <div data-aos="zoom-in" class="card homepage__why-choose-us__card">
          <div class="card__img homepage__why-choose-us__card__img">
            <img src="../../../../assets/img/homepage__lively.svg" alt="Newspaper" />
          </div>
          <div class="card__content hompage__why-choose-us__card__content">
            <p class="
                card__content__paragraph
                hompage__why-choose-us__card__content__paragraph
                paragraph
              ">
              Lively Alumni association
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="homepage__join-now">
      <h2 data-aos="flip-left" class="homepage__join-now__heading heading-2">What are you waiting for?</h2>
      <a data-aos="flip-left" href="#" class="homepage__join-now__cta">Join Now</a>
    </section>
  </main>
</div>