.association__page__imgTop img{
    height: 40rem;
}
.association__page{
    text-align: justify;
}
.association__page p, ul li{
    font-weight: 500;
    opacity: .8;
}
.association__page__imgTop__para h3{
        font-weight: 600;
        font-size: large;
}
