<div class="association__page">
    <section class="container">
        <div class="association__page">
            <div class="association__page__imgTop mt-5">
                <img src="../../../../assets/img/SLIET_Longowal_Main_Building.jpg" alt="image">
            </div>
            <div class="association__page__heading">
    
                <h3>About Alumini Association</h3>
            </div>
            <hr>
            <div class="association__page__imgTop__para text-justify">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum, at officiis facere temporibus ratione. Iste sint esse qui minus incidunt nobis, nostrum error sit dignissimos neque quibusdam doloremque a. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ut alias, praesentium dolorum accusantium error officia, tempora culpa, suscipit voluptatem rerum. Dolor quae consequuntur id nobis, perspiciatis inventore libero eligendi! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis aperiam placeat, saepe adipisci eaque quam commodi magni voluptate error vel obcaecati dolores quos libero magnam ullam corrupti! Laboriosam, voluptatum sint?</p>
            </div>
        </div>
        <div class="association__page__imgTop__para mb-5 text-justify">
            <h3>Vision and Priorities</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum, at officiis facere temporibus ratione. Iste sint esse qui minus incidunt nobis, nostrum error sit dignissimos neque quibusdam doloremque a. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ut alias, praesentium dolorum accusantium error officia, tempora culpa, suscipit voluptatem rerum.</p>
        </div>
        <div class="association__page__imgTop__para mb-5 text-justify">
            <h3>Vision and Priorities</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum, at officiis facere temporibus ratione.</p>
        </div>
        <div class="association__page__imgTop__para mb-5 text-justify">
            <h3>Vision and Priorities</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum, at officiis facere temporibus ratione. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente temporibus veniam nam iste, totam in reprehenderit sit pariatur nemo explicabo quam voluptates corporis aliquid voluptate impedit itaque, nesciunt ea rem.</p>
            <ul style="list-style-type:circle">
                <li type="r">Lorem ipsum dolor sit amet consectetur adipisicing  </li>
                <li type="r">Lorem ipsum dolor sit amet consectetur adipisicing  </li>
                <li type="r">Lorem ipsum dolor sit amet consectetur adipisicing  </li>
                <li type="r">Lorem ipsum dolor sit amet consectetur adipisicing  </li>
                <li type="r">Lorem ipsum dolor sit amet consectetur adipisicing  </li>
                <li type="r">Lorem ipsum dolor sit amet consectetur adipisicing  </li>
                <li type="r">Lorem ipsum dolor sit amet consectetur adipisicing  </li>
            </ul>
        </div>
       

    </section>
</div>
