<div class="association__page">
    <section class="container">
        <div class="association__page">
            <div class="association__page__imgTop mt-5">
                <img src="../../../../assets/img/SLIET_Longowal_Main_Building.jpg" alt="image">
            </div>
            <div class="association__page__heading">
    
                <h3>About Alumni Association</h3>
            </div>
            <hr>
            <div class="association__page__imgTop__para text-justify">
                <p>Established in 2015, SLIET Alumni Association creates and maintains a lifelong connection between the institute and its alumni. In collaboration with an extremely dedicated
                    volunteer board of directors, the Alumni association works to connect alumni, support students and build an unforgettable experience through a diversity of events,
                    programming and services. The association aims to encourage the alumni to take an abiding interest in the progress and development of the institute. Since its
                    establishment, the association has grown from strength to strength, regularly undertaking several initiatives to promote and foster mutually beneficial interaction between
                    the alumni and Alma Mater.</p>
            </div>
        </div>
        <div class="association__page__imgTop__para mb-5 text-justify">
            <h3>Vision and Priorities</h3>
            <p>The mission of the association is to foster strong bond between alumni, students and the institute, to keep alumni informed, and create a network enabling them to remain
                engaged with their Alma Mater and help shape its future through the Association's programmes and services.</p>
        </div>
        <div class="association__page__imgTop__para mb-5 text-justify">
            <h3>Become a life member</h3>
            <p>Anyone who has completed one academic year as a student of SLIET is eligible for life membership.</p>
        </div>
        <div class="association__page__imgTop__para mb-5 text-justify">
            <h3>Involvement and Services</h3>
            <p>Developing an active and engaged alumni network empowers both the institute and its graduates. The Alumni association continues to seek innovative ways to serve alumni
                by providing social, educational, and professional opportunities that appeal to our broad constituency. Our alumni association offers:-
            </p>
            <ul style="list-style-type:circle">
                <li type="r">Alumni career and networking services. </li>
                <li type="r">Lifelong learning.  </li>
                <li type="r">Student alumni contact. </li>
                <li type="r">Ongoing benefits.</li>
                <li type="r">Events and reunions.</li>
                <li type="r">Geo graphically alumni chapters.</li>
                <li type="r">Travel</li>
                <li type="r">Events and reunions.</li>
                <li type="r">Geo graphically alumni chapters.</li>
                <li type="r">Travel</li>
                <li type="r">Replenish</li>
                <li type="r">Support your hostel</li>
                <li type="r">Support your country</li>
            </ul>
        </div>
       

    </section>
</div>
