<div class="dashboard__edit-profile-container">
    <div class="dashboard__edit-profile-container__close-button">X</div>
    <div class="dashboard__edit-profile-container__heading heading-3">Edit Profile</div>
    <form class="dashboard__edit-profile-container__form">
      <div class="dashboard__edit-profile-container__form__input-group">
        <label
          for="dashboardName"
          class="dashboard__edit-profile-container__form__input-group__label"
          >Name</label
        >
        <input
          id="dashboardName"
          type="text"
          class="dashboard__edit-profile-container__form__input-group__input"
        />
      </div>

      <div class="dashboard__edit-profile-container__form__input-group">
        <label
          for="dateOfBirth"
          class="dashboard__edit-profile-container__form__input-group__label"
          >DOB</label
        >
        <input
          id="dateOfBirth"
          type="date"
          class="dashboard__edit-profile-container__form__input-group__input"
        />
      </div>

      <div class="dashboard__edit-profile-container__form__input-group">
        <label for="privacy" class="dashboard__edit-profile-container__form__input-group__label"
          >Show contact information</label
        >
        <input
          id="privacy"
          type="checkbox"
          class="dashboard__edit-profile-container__form__input-group__input"
        />
      </div>

      <div class="dashboard__edit-profile-container__form__input-group">
        <input
          type="submit"
          class="dashboard__edit-profile-container__form__input-group__input"
        />

        <input
          type="reset"
          class="dashboard__edit-profile-container__form__input-group__input"
        />
      </div>
    </form>
    <!-- <div class="dashboard__edit-profile-container__heading heading-3">Change Password</div> -->
    <!-- <form class="dashboard__edit-profile-container__form">
      <div class="dashboard__edit-profile-container__form__input-group">
        <label
          for="dashboardName"
          class="dashboard__edit-profile-container__form__input-group__label"
          >Current Password</label
        >
        <input
          id="currentPassword"
          type="password"
          class="dashboard__edit-profile-container__form__input-group__input"
        />
      </div>
      <div class="dashboard__edit-profile-container__form__input-group">
        <label
          for="newpassword"
          class="dashboard__edit-profile-container__form__input-group__label"
          >New Password</label
        >
        <input
          id="newpassword"
          type="password"
          class="dashboard__edit-profile-container__form__input-group__input"
        />
      </div>
      <div class="dashboard__edit-profile-container__form__input-group">
        <label
          for="confirmpassword"
          class="dashboard__edit-profile-container__form__input-group__label"
          >Confirm Password:</label
        >
        <input
          id="confirmpassword"
          type="text"
          class="dashboard__edit-profile-container__form__input-group__input"
        />
      </div>
      <div class="dashboard__edit-profile-container__form__input-group">
        <label
          for="showPassword"
          class="dashboard__edit-profile-container__form__input-group__label"
          >Show Password</label
        >
        <input
          id="showPassword"
          type="checkbox"
          class="dashboard__edit-profile-container__form__input-group__input"
        />
      </div>
      <div class="dashboard__edit-profile-container__form__input-group">
        <input
          type="submit"
          class="dashboard__edit-profile-container__form__input-group__input"
        />

        <input
          type="reset"
          class="dashboard__edit-profile-container__form__input-group__input"
        />
      </div>
    </form> -->
  </div>