<div class="dashboard__sidebar">
  <div class="dashboard__sidebar__profile">
    <img
      [src]="userProfilePic()"
      alt="user"
      class="dashboard__sidebar__profile__dp"
    />
    <div class="dashboard__sidebar__profile__name">{{ userName() }}</div>
    <div class="dashboard__sidebar__profile__qualification">
      {{ userDesignation() }}
    </div>
  </div>
  <div class="dashboard__sidebar__buttons">
    <div
      class="dashboard__sidebar__buttons__button"
      [class]="
        isActiveTab('profile')
          ? 'dashboard__sidebar__buttons__button--active'
          : ''
      "
      routerLink="/dashboard/profile"
    >
      Profile
    </div>
    <div
      *ngIf="role == 1 || role == 2"
      class="dashboard__sidebar__buttons__button"
      routerLink="/dashboard/add-article"
      [class]="
        isActiveTab('add-article')
          ? 'dashboard__sidebar__buttons__button--active'
          : ''
      "
    >
      Add Article
    </div>
    <div
      *ngIf="role == 1 || role == 2"
      class="dashboard__sidebar__buttons__button"
      routerLink="/dashboard/article-list"
      [class]="
        isActiveTab('article-list')
          ? 'dashboard__sidebar__buttons__button--active'
          : ''
      "
    >
      Article List
    </div>
    <div
      *ngIf="role == 2"
      class="dashboard__sidebar__buttons__button"
      routerLink="/dashboard/image-list"
      [class]="
        isActiveTab('image-list')
          ? 'dashboard__sidebar__buttons__button--active'
          : ''
      "
    >
      Image List
    </div>
    <div
      *ngIf="role == 2"
      class="dashboard__sidebar__buttons__button"
      routerLink="/dashboard/upload-image"
      [class]="
        isActiveTab('upload-image')
          ? 'dashboard__sidebar__buttons__button--active'
          : ''
      "
    >
      Upload Image
    </div>
    <div
      class="dashboard__sidebar__buttons__button"
      routerLink="/dashboard/change-password"
      [class]="
        isActiveTab('change-password')
          ? 'dashboard__sidebar__buttons__button--active'
          : ''
      "
    >
      Change Password
    </div>
  </div>
  <div class="dashboard__sidebar__social">
    <div class="dashboard__sidebar__social__title">Join us at:</div>
    <div class="dashboard__sidebar__social__links">
      <a href="#" class="dashboard__sidebar__social__links__link">
        <img
          src="../../../../../../assets/img/icons/facebook.svg"
          alt=""
          class="dashboard__sidebar__social__links__link__icon"
        />
      </a>
      <a href="#" class="dashboard__sidebar__social__links__link">
        <img
          src="../../../../../../assets/img/icons/instagram.svg"
          alt=""
          class="dashboard__sidebar__social__links__link__icon"
        />
      </a>
      <a href="#" class="dashboard__sidebar__social__links__link">
        <img
          src="../../../../../../assets/img/icons/linkedin.svg"
          alt=""
          class="dashboard__sidebar__social__links__link__icon"
        />
      </a>
    </div>
  </div>
</div>
