<div class="dashboard__sidebar">
    <div class="dashboard__sidebar__profile">
      <img
        src="./resources/img/dahiana-waszaj-XQWfro4LrVs-unsplash.jpg"
        alt="user"
        class="dashboard__sidebar__profile__dp"
      />
      <div class="dashboard__sidebar__profile__name">Meharpreet Singh</div>
      <div class="dashboard__sidebar__profile__qualification">B.E.</div>
    </div>
    <div class="dashboard__sidebar__buttons">
      <div
        class="dashboard__sidebar__buttons__button dashboard__sidebar__buttons__button--active"
      >
        Profile
      </div>
      <div class="dashboard__sidebar__buttons__button">Change Password</div>
    </div>
    <div class="dashboard__sidebar__social">
      <div class="dashboard__sidebar__social__title">Join us at:</div>
      <div class="dashboard__sidebar__social__links">
        <a href="#" class="dashboard__sidebar__social__links__link">
          <img
            src="/resources/img/icons/facebook.svg"
            alt=""
            class="dashboard__sidebar__social__links__link__icon"
          />
        </a>
        <a href="#" class="dashboard__sidebar__social__links__link">
          <img
            src="/resources/img/icons/instagram.svg"
            alt=""
            class="dashboard__sidebar__social__links__link__icon"
          />
        </a>
        <a href="#" class="dashboard__sidebar__social__links__link">
          <img
            src="/resources/img/icons/linkedin.svg"
            alt=""
            class="dashboard__sidebar__social__links__link__icon"
          />
        </a>
      </div>
    </div>
  </div>