<div class="dashboard__body-container">
  <header class="dashboard__header">
    <div class="dashboard__edit-profile-container__heading heading-3">
      Article List
    </div>
    <div class="dashboard__header__profile">
      <table class="table table-bordered table-responsive table-striped">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Image</th>
            <th scope="col">Url</th>
            <th scope="col">Public Access</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of data; let i = index">
            <th scope="row" class="m-1">{{  (page*limit)-limit + i + 1 }}</th>
            <td class="col-md-1">
              <img
                [src]="post.imageUrl"
                alt=""
                style="height: 100px; width: 100px"
              />
            </td>
            <td class="col-md-3">
              {{ post.imageUrl }}
            </td>
            <td>
              <input
                type="checkbox"
                [checked]="post.public == true ? true : false"
                (click)="update(post._id, post.public)"
              />
            </td>
            <td>
              <a
                data-bs-toggle="modal"
                (click)="deleteImgId = post._id"
                data-bs-target="#staticBackdrop"
              >
                <i class="bi bi-trash p-3"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="alumni__main__pagination">
      <p
        class="paragraph"
        *ngFor="
          let item of data
            | paginate: { itemsPerPage: limit, currentPage: page , totalItems}
        "
      ></p>
      <pagination-controls
        (pageChange)="pageChangeFn($event)"
      ></pagination-controls>
    </div>
  </header>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Are you Sure??</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Deleted Image can not be recovered!!!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deleteImage()"
          data-bs-dismiss="modal"
        >
          Understood
        </button>
      </div>
    </div>
  </div>
</div>
