<div class="gallery__body-container">
  <!-- Main Part Here -->

  <header class="gallery__header">
    <h1 class="gallery __header__heading">Gallery</h1>
  </header>
  <main class="gallery__main">
    <div class="gallery__main__category-options">
      <button
        class="gallery__main__category-options__category gallery__main__category-options__category--active"
      >
        Featured
      </button>
      <button class="gallery__main__category-options__category">
        techFest'21
      </button>
      <button class="gallery__main__category-options__category">
        techfest'20
      </button>
      <button class="gallery__main__category-options__category">
        Madhuram'20
      </button>
      <button class="gallery__main__category-options__category">
        techFest'19
      </button>
      <button class="gallery__main__category-options__category">
        Madhuram'19
      </button>
    </div>
    <div class="gallery__main__gallery">
      <div class="gallery__main__gallery__item" *ngFor="let image of data">
        <img [src]="image.imageUrl" [alt]="image.name" />
        <div class="gallery__main__gallery__item__name">
          {{ image.name }}
        </div>
      </div>
    </div>
  </main>
</div>
