/* =====================
Media Query
===================== */
// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

/* =====================
Common To All 
===================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  line-height: 1.5;
  font-family: inherit;
}
html {
  font-size: 10px;
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  &:hover {
    color: unset;
  }
}
img {
  display: block;
  width: 100%;
}
li,
.list-item {
  font-size: 1.6rem;
}
pre,
.pre {
  font-size: 1.6rem;
}
:root {
  --primary-color: #0092dc;
  --primary-color-darken: #006da5;
  --text-color-black: #222222;
  --text-color-black-darken: #000000;
  --text-color-black-lighten: #595959;
  --text-color-white: #ffffff;
  --text-color-white-darken: #eeeeee;
  --primary-background-color: #ffffff;
  --secondary-background-color: #eef0f1;
}

/* =====================
Imports
===================== */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* =====================
Typography
===================== */
h1,
.heading-1 {
  font-size: 4.8rem;
}
h2,
.heading-2 {
  font-size: 3.6rem;
}
h3,
.heading-3 {
  font-size: 2.4rem;
  font-weight: 700;
}
p,
.paragraph {
  font-size: 1.6rem;
}
a {
  color: #000000;
  text-decoration: none;
}
/* =====================
Buttons
===================== */

/* =====================
Common Components
===================== */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0px 6px 6px rgba($color: #222222, $alpha: 0.1);
  &__logo {
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    transition: all 0.4s;
    &:hover {
      color: var(--primary-color);
    }
    & img {
      max-width: 5rem;
      display: inline-block;
    }
  }
  &__menu {
    display: flex;
    grid-gap: 20px;
    &__link {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      transition: all 0.4s;
      &:hover {
        color: var(--primary-color);
      }
    }

    @include respond(tab-port) {
      display: none;
    }
  }
  &__cta {
    font-size: 1.8rem;
    padding: 12.5px 25px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    border-radius: 100px;
    transition: all 0.4s;
    &__link {
      color: var(--text-color-white);

      &:hover {
        color: var(--text-color-white-darken);
      }
    }
    &:hover {
      background-color: var(--primary-color-darken);
    }

    @include respond(tab-port) {
      display: none;
    }
  }
  &__mobile-nav__icon {
    cursor: pointer;
    display: none;
    position: relative;
    width: 3rem;
    height: 2px;
    background-color: var(--text-color-black);
    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: "";
      width: 3rem;
      height: 2px;
      background-color: currentColor;
    }
    &::before {
      top: -0.7rem;
    }
    &::after {
      bottom: -0.7rem;
    }
    @include respond(tab-port) {
      display: unset;
    }
  }
  @include respond(tab-land) {
    padding: 2.5rem 5rem;
  }
}

.card {
  height: 100%;
  min-height: 40rem;
  display: grid;
  grid-template-rows: 20rem auto;
  border: none;
  &__img {
    overflow: hidden;
    object-position: center;
    & img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    &__heading {
    }
    &__paragraph {
      margin-bottom: 1rem;
      flex-grow: 1;
    }
  }
  &__cta {
    padding: 1.25rem 3rem;
    background-color: var(--primary-color);
    width: fit-content;
    font-size: 1.8rem;
    border-radius: 10rem;
    font-weight: 600;
    color: var(--text-color-white);
    transition: all 0.4s;
    &:hover {
      background-color: var(--primary-color-darken);
      color: var(--text-color-white);
    }
  }
}
.footer {
  text-align: center;
  padding: 3rem;
  font-size: 1.6rem;
  border-top: 1px solid var(--primary-color);
  &__website {
    color: var(--primary-color);
    transition: all 0.4s;
    &:hover {
      color: var(--primary-color-darken);
    }
  }
}
.mobile-nav {
  position: fixed;
  height: 100vh;
  background-color: #ffffff99;
  backdrop-filter: blur(5px);
  z-index: 99;
  min-width: 60vw;
  top: 0;
  right: -100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  &__menu {
    font-size: 1.5rem;
    display: flex;
    grid-gap: 1rem;
    flex-direction: column;
    &__link {
      padding: 1.5rem 2rem;
      &:hover {
        background-color: var(--primary-color);
        color: var(--text-color-white);
      }
    }
  }
  &__cta {
    font-size: 1.6rem;
    width: fit-content;
    padding: 1.5rem 2rem;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    border-radius: 10rem;
    font-weight: 600;
    &:hover {
      background-color: var(--primary-color-darken);
    }
  }
  &__close-button {
    font-size: 3rem;
    text-align: right;
    cursor: pointer;
  }
}
/* =====================
Page Wise CSS
===================== */

/* --------------------
HOMEPAGE
-------------------- */
// Common to this page
.homepage__section__heading {
  text-align: center;
  margin-bottom: 4rem;
}
// Header
.homepage__body-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--text-color-black);
}
.homepage__header {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0092dc66, #006da566),
    url("./assets/img/SLIET_Longowal_Main_Building.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  &__heading {
    text-align: center;
    color: var(--text-color-white);
    text-shadow: 2px 4px 6px rgba($color: #222222, $alpha: 0.2);
  }
  @include respond(tab-land) {
    padding: 3rem 5rem;
  }
}
/* =-=-=-=-=-=-=-=-=
      Main
=-=-=-=-=-=-=-=-=*/
.homepage__main {
  background-color: var(--secondary-background-color);
}
// After header
.homepage__after-header {
  transform: translateY(-50%);
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 70vw;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: var(--primary-color);
  color: var(--text-color-white);
  a,
  &__link {
    position: relative;
    transition: all 0.4s;
    color: var(--text-color-white);
    &:not(:last-of-type)::after {
      position: absolute;
      right: 0;
      top: 0;
      content: " ";
      width: 2px;
      height: 100%;
      background-color: var(--text-color-white);
      @include respond(phone) {
        width: 100%;
        height: 2px;
        top: 100%;
        bottom: 0;
      }
    }
    &:hover {
      color: var(--text-color-white-darken);
    }
  }
  @include respond(tab-port) {
    width: 90vw;
  }
  @include respond(phone) {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    display: none;
  }
}
// Section Welcome
.homepage__welcome {
  background-color: var(--secondary-background-color);
  padding: 7rem 10rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    text-align: center;
  }
  &__paragraph {
    max-width: 69rem;
    text-align: center;
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
  @include respond(tab-land) {
    padding: 5rem;
  }
}
// Section Features
.homepage__features {
  padding: 10rem;
  background-color: var(--primary-background-color);
  &__heading {
    text-transform: uppercase;
  }
  &__group {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  &__card {
    transition: all 0.4s;
    &:hover {
      box-shadow: 0px 4px 6px rgba($color: #222222, $alpha: 0.06);
    }
  }
  @include respond(tab-land) {
    padding: 5rem;
  }
}

// Section About Us
.homepage__about-us {
  padding: 10rem;

  &__heading {
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    &__img {
    }
    &__content {
      display: grid;
      grid-gap: 1rem;
      &__heading {
      }
      &__paragraph {
        margin-bottom: 1rem;
      }
      &__cta {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        background-color: var(--primary-color);
        width: fit-content;
        border-radius: 10rem;
        color: var(--text-color-white);
        transition: all 0.4s;
        &:hover {
          background-color: var(--primary-color-darken);
          color: var(--text-color-white);
        }
      }
    }
    @include respond(tab-port) {
      grid-template-columns: auto;
      grid-template-rows: auto 1fr;
    }
  }
  @include respond(tab-land) {
    padding: 5rem;
  }
}

// Why choose us
.homepage__why-choose-us {
  padding: 10rem;
  background-color: var(--primary-background-color);
  &__heading {
  }
  &__container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  &__card {
    min-height: unset;
    height: unset;
    text-align: center;
    grid-template-rows: 15rem 12rem;
    &__paragraph {
      flex-grow: 0;
    }
    &__img {
      & img {
        object-fit: contain;
      }
    }
  }
  @include respond(tab-land) {
    padding: 5rem;
  }
}

// Join now
.homepage__join-now {
  padding: 3rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__cta {
    font-size: 1.8rem;
    padding: 12.5px 25px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    border-radius: 100px;
    transition: all 0.4s;
    &:hover {
      background-color: var(--primary-color-darken);
      color: var(--text-color-white);
    }
  }
  @include respond(tab-port) {
    flex-direction: column;
    grid-gap: 1.5rem;
  }
  @include respond(tab-land) {
    padding: 2.5rem 5rem;
  }
}

/* ALUMNI Page */
.alumni__body-container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--text-color-black);
  min-height: 100vh;
}

.alumni__header {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
  @include respond(tab-port) {
    flex-direction: column;
    grid-gap: 1.5rem;
  }
  @include respond(tab-land) {
    padding: 3rem 5rem;
  }

  &__filters {
    display: flex;
    grid-gap: 1.5rem;

    @include respond(tab-port) {
      order: 1;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__group {
      position: relative;
      &__reset {
        border: none;
        outline: none;
        background-color: transparent;
        font-family: inherit;
        text-decoration: underline;
        color: var(--text-color-black--lighten);
        cursor: pointer;
      }
      &__option {
        cursor: pointer;
        display: flex;
        align-items: center;
        grid-gap: 0.5rem;
        user-select: none;
        &__icon {
          max-width: 1.4rem;
        }
      }
      &__dropdown {
        z-index: 50;
        // max-width: 16.7rem;
        max-height: 16rem;
        overflow-y: auto;
        position: absolute;
        top: 3rem;
        // width: 100%;
        width: max-content;
        min-width: 20rem;
        &__container {
          height: fit-content;
          padding: 1.5rem;
          backdrop-filter: blur(0.5rem);
          background-color: #0092dc33;
          display: flex;
          flex-direction: column;
          &__group {
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            grid-gap: 1rem;
            label {
              user-select: none;
            }
          }
        }
      }
    }
  }
  &__search {
    @include respond(tab-port) {
      order: 0;
      width: 100%;
    }
    border: 1px solid var(--primary-color);
    padding: 0.75rem 2rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    input {
      border: none;
      outline: none;
      font-size: inherit;
      font-family: inherit;
      flex-grow: grow;
      @include respond(tab-port) {
        flex-grow: 1;
      }
    }
    button#alumniSearchButton {
      border: none;
      outline: none;
      background-color: transparent;
      svg {
        background-clip: var(--primary-color);
        fill: currentColor;
      }
    }
  }
}

.alumni__alumni-info-popup {
  position: absolute;
  width: 90vw;
  height: 80vh;
  background-color: #ffffffee;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1.5fr 2fr;
  box-shadow: 0px 2px 10px #22222222;
  &__close-button {
    font-size: 2rem;
    color: var(--text-color-white);
    user-select: none;
    position: absolute;
    right: 4rem;
    top: 4rem;
    z-index: 55;
    cursor: pointer;
  }
  &__header {
    color: var(--text-color-white);
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 4rem;
    display: grid;
    grid-template-columns: 30rem auto;
    grid-template-rows: 30rem;
    grid-gap: 4rem;
    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: 25rem auto;
      grid-gap: 2rem;
      padding: 2rem;
    }
    &__img {
      height: 100%;
      width: 100%;
      border-radius: 2rem;
      object-fit: cover;
      object-position: top;
      @include respond(phone) {
        width: 25rem;
        height: 25rem;
        object-position: top;
      }
    }
    &__user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-gap: 0.5rem;

      &__name {
        font-size: 4rem;
        font-weight: 600;
      }
      &__current-job {
        font-size: 1.8rem;
      }
      &__qualification {
        font-size: 1.4rem;
      }
    }
  }
  &__body {
    padding: 4rem;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 2rem;
    @include respond(phone) {
      grid-template-columns: auto;
      grid-template-rows: 1fr auto;
    }
    &__about {
      font-size: 1.6rem;
    }
    &__social-links {
      display: flex;
      flex-direction: column;
      grid-gap: 1.5rem;
      @include respond(phone) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
      }
      &__heading {
        font-size: 1.6rem;
      }
      &__link {
        font-size: 1.6rem;
        display: flex;
        grid-gap: 1rem;
        align-items: center;
        &__icon {
          width: 2.5rem;
          img {
          }
        }
        &__address {
          transition: all 0.4s;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

.alumni__main {
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.6rem;
  @include respond(tab-land) {
    padding: 3rem 5rem;
  }
  &__searchResults {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: 10rem;
    flex-grow: 1;
    &__result {
      display: grid;
      grid-template-columns: 10rem auto;

      overflow: hidden;
      border: 1px solid var(--primary-color);
      border-radius: 1rem;
      transition: all 0.4s;
      &:hover {
        box-shadow: 0px 1px 6px 3px rgba($color: #222222, $alpha: 0.1);
      }
      &__img {
        object-fit: cover;
        object-position: top;
        border-radius: 1rem;
        height: 100%;
        overflow: hidden;
      }
      &__info {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto auto;
        justify-content: left;
        align-items: center;
        grid-column-gap: 1rem;
        &__name {
          font-size: 1.6rem;
        }
        &__qualification {
          font-size: 1.1rem;
          color: var(--text-color-black);
          font-weight: 500;
        }
        &__year {
          font-size: 1.4rem;
        }
      }
    }
  }
  &__pagination {
    font-size: 1.6rem;
  }
}

/* ABOUT Page */
.about {
  &__body-container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: var(--text-color-black);
    min-height: 100vh;
  }
}

/* DashBoard Page */
.dashboard {
  &__edit-profile-container {
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    background-color: var(--primary-background-color);
    max-width: 90vw;
    max-height: 80vh;
    // width: 100%;
    // height: 100%;
    z-index: 99;
    border-radius: 2rem;
    box-shadow: 1px 3px 5px #22222233;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    overflow-y: auto;
    // display: none;
    &__form {
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
      grid-template-columns: minmax(50rem, 1fr);
      @include respond(tab-land) {
        display: flex !important;
        flex-direction: column;
      }
    }
    &__close-button {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 2rem;
      cursor: pointer;
      user-select: none;
    }
    &__heading {
      margin-bottom: 1rem;
    }
    &__form {
      display: grid;
      // flex-direction: column;
      grid-gap: 1rem;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
      &__input-group {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 25rem 1fr;
        grid-gap: 1rem;
        position: relative;
        // &:nth-last-child(2) {
        //   align-items: center;
        //   grid-template-columns: 1fr 1fr;
        // }
        &__profile-image {
          position: relative;
          &__image {
            height: 15rem;
            width: 15rem;
            object-fit: cover;
            object-position: top;
            position: relative;
            border-radius: 10rem;
            border: 1px solid var(--primary-color);
            box-sizing: content-box;
            padding: 0.75rem;
          }
          &__label {
            &--profile-image {
              color: var(--primary-color);
              border: 1px solid var(--primary-color);
              background-color: white;
              position: absolute;
              top: 1rem;
              right: 1rem;
              border-radius: 10rem;
              cursor: pointer;
              width: 3rem;
              height: 3rem;
              display: flex;
              align-items: center;
              justify-content: center;

              &::after {
                content: "" !important;
              }
            }
          }
        }
        &--profile-image {
          grid-column-start: 1;
          grid-column-end: 3;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 2rem;
        }
        &:last-of-type {
          // grid-column-start: 1;
          // grid-column-end: 3;
          grid-template-columns: min-content min-content;
        }
        &__label {
          font-size: 1.6rem;
          font-weight: 700;
          &::after {
            content: ":";
          }
          &--profile-image {
            border: 1px solid var(--primary-color);
            background-color: white;
            position: absolute;
            top: 1rem;
            right: 45%;
            border-radius: 10rem;
            cursor: pointer;

            &::after {
              content: "";
            }
          }
        }
        &__input {
          padding: 0.5rem 1rem;
          border: 0.5px solid #22222222;
          outline: none;
          border-radius: 1rem;
          &--profile-image {
            display: none;
          }
        }
        &__input[type="submit"],
        &__input[type="button"],
        &__input[type="reset"] {
          border: none;
          background-color: var(--primary-color);
          padding: 1rem 2rem;
          border-radius: 1rem;
          width: fit-content;
          color: var(--text-color-white);
          border: 1px solid var(--primary-color);
          transition: all 0.4s;
          &:hover {
            background-color: var(--primary-color-darken);
            border-color: var(--primary-color-darken);
            color: var(--text-color-white);
          }
        }
        &__input[type="button"] {
          background-color: transparent;
          color: var(--primary-color);
        }
        &__input[type="reset"] {
          background-color: transparent;
          color: var(--text-color-black);
        }
      }
    }
  }
  &__body-container {
    display: grid;
    // grid-template-columns: auto 1fr;
    // grid-template-rows: auto auto 1fr auto;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: var(--text-color-black);
    min-height: 100vh;
    margin-left: 25rem;
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      margin-left: 0;
    }

    .nav {
      // grid-area: dashboard__main-nav;
      // grid-row-start: 1;
      // grid-row-end: 2;
      // grid-column-start: 1;
      // grid-column-end: 3;
    }
    footer {
      // grid-area: dashboard__footer;
      // grid-row-start: 4;
      // grid-row-end: 5;
      // grid-column-start: 1;
      // grid-column-end: 3;
    }
  }
  &__sidebar {
    // grid-area: dashboard__sidebar;
    // background-color: var(--primary-color);
    height: 100%;
    padding: 4rem 0;
    border-right: 1px solid var(--secondary-background-color);
    // grid-row-start: 2;
    // grid-row-end: 4;
    // grid-column-start: 1;
    // grid-column-end: 2;
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    grid-gap: 2rem;
    // After Angular
    position: absolute;
    //
    @include respond(tab-port) {
      position: relative;
    }
    // border-top-right-radius: 2rem;
    // border-bottom-right-radius: 2rem;
    &__profile {
      display: flex;
      flex-direction: column;
      grid-gap: 0.5rem;
      align-items: center;
      @include respond(tab-port) {
        display: none;
      }
      &__dp {
        height: 12.5rem;
        width: 12.5rem;
        object-fit: cover;
        object-position: top;
        border-radius: 100%;
        transition: all 0.4s;
        &:hover {
          box-shadow: 1px 3px 5px #22222233;
        }
      }
      &__name {
        font-size: 1.8rem;
        font-weight: 600;
      }
      &__qualification {
        font-size: 1.4rem;
      }
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      grid-gap: 0.5rem;
      flex-grow: 1;

      &__button {
        // border-radius: 1.5rem;
        cursor: pointer;
        user-select: none;
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 1rem 2rem;
        // border-left: 5px solid var(--primary-color);
        background-color: transparent;
        position: relative;
        z-index: 2;
        transition: color 0.2s 0.2s;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          height: 100%;
          transform: scaleY(0);
          // height: 100%;
          width: 0.5rem;
          background-color: var(--primary-color);
          transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
            background-color 0.1s, -webkit-transform 0.2s;
          z-index: -1;
        }
        &:hover {
          &::before {
            height: 100%;
            width: 100%;
            transform: scaleY(1);
          }
          color: var(--text-color-white);
        }
        &--active {
          &::before {
            height: 100%;
            width: 100%;
            transform: scaleY(1);
          }
          color: var(--text-color-white);
        }
      }
    }
    &__social {
      @include respond(tab-port) {
        display: none;
      }
      padding: 1rem 2rem;
      display: grid;
      grid-gap: 0.75rem;
      &__title {
        font-size: 1.2rem;
      }
      &__links {
        display: flex;
        grid-gap: 0.5rem;
        &__link {
          width: 2.4rem;
        }
      }
    }
  }
  &__main {
    // grid-area: dashboard__main;
    padding: 2rem;
    // grid-row-start: 3;
    // grid-row-end: 4;
    @include respond(tab-port) {
    }
  }
  &__header {
    // grid-area: dashboard__header;
    padding: 2rem;
    &__profile {
      display: flex;
      grid-gap: 2rem;
      padding: 2rem;
      border-radius: 2rem;
      transition: all 0.4s;
      box-shadow: 1px 4px 10px #22222222;
      @include respond(tab-land) {
        flex-direction: column;
        grid-gap: 0.5rem;
      }
      @include respond(tab-port) {
      }
      &__basic-info {
        display: flex;
        align-items: center;
        grid-gap: 2rem;
        flex-grow: 1;
        border-right: 1px solid #22222233;
        @include respond(tab-land) {
          padding-bottom: 1rem;
          border-bottom: 1px solid #22222233;
          border-right: none;
        }
        @include respond(tab-port) {
          flex-direction: column;
          align-items: flex-start;
        }
        &__dp {
          height: 30rem;
          width: 30rem;
          object-fit: cover;
          object-position: center;
          border-radius: 2rem;
        }
        &__text {
          display: grid;
          grid-gap: 1rem;

          &__buttons {
            @include respond(tab-port) {
              display: flex;
              flex-direction: column;
              grid-gap: 1rem;
            }
            &--reqalumni,
            &--edit-profile {
              margin-right: 1rem;
              border: none;
              outline: none;
              padding: 1rem 2rem;
              border-radius: 1rem;
              background-color: var(--primary-color);
              font-family: inherit;
              color: var(--text-color-white);
              font-weight: 500;
              letter-spacing: 0.5px;
              border: 1px solid var(--primary-color);
              transition: all 0.4s;
              cursor: pointer;
              &:hover {
                border-color: var(--primary-color-darken);
                background-color: var(--primary-color-darken);
              }
            }
            &--reqalumni {
              background-color: transparent;
              color: var(--primary-color);

              &:hover {
                color: var(--text-color-white);
              }
            }
          }
        }
      }
      &__external-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 0;
        @include respond(tab-land) {
          padding: 0.5rem 0;
          grid-gap: 1rem;
        }
        &__basic {
          display: grid;
          grid-gap: 0.5rem;
          &__company-data {
            display: flex;
            flex-direction: column;
            grid-gap: 0.5rem;
          }
          &__group {
            display: grid;
            grid-template-columns: minmax(10rem, 25rem) 1fr;
            &__title {
              font-size: 1.6rem;
              font-weight: 700;
              &::after {
                content: ":";
              }
            }
            &__info {
              font-size: 1.6rem;
              text-align: right;
            }
          }
        }
        &__links {
          display: flex;
          grid-gap: 1rem;
          &__link {
            max-width: 3rem;
          }
        }
      }
    }
  }
}

/* Contact Page */
.contact {
  &__body-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: var(--text-color-black);
  }
  &__header {
    padding: 10rem 10rem 3rem 10rem;
    @include respond(tab-port) {
      padding: 3rem 4rem 3rem 4rem;
    }
  }
  &__main {
    padding: 3rem 10rem 10rem 10rem;
    display: grid;
    grid-template-columns: 1fr minmax(20rem, 1fr);
    grid-gap: 5rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
      padding: 3rem 4rem 4rem 4rem;
    }
    &__form {
      display: flex;
      flex-direction: column;

      grid-gap: 1rem;
      &__heading {
        margin-bottom: 2rem;
      }
      &__group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        @include respond(phone) {
          grid-template-columns: 1fr;
        }
        &__input {
          padding: 1rem 2rem;
          font-size: 1.6rem;
          border: none;
          outline: none;
          border-radius: 1rem;
          border: 0.5px solid #22222222;
          &[type="email"] {
            grid-column-start: 1;
            grid-column-end: 3;
          }
          &[type="submit"] {
            background-color: var(--primary-color);
            color: var(--text-color-white);
            border: 1px solid var(--primary-color);
            transition: all 0.4s;
            &:hover {
              background-color: var(--primary-color-darken);
              color: var(--text-color-white);
              border: 1px solid var(--primary-color-darken);
            }
          }
        }
        textarea {
          width: 100%;
          grid-column-start: 1;
          grid-column-end: 3;
          outline: none;
          border-radius: 1rem;
          padding: 1rem 2rem;
          border: 0.5px solid #22222222;
          font-size: 1.6rem;
        }
      }
    }
    &__contact-info {
      &__heading {
        margin-bottom: 2rem;
      }
      &__group {
        margin-bottom: 1rem;
        &__heading {
          font-size: 1.8rem;
          font-weight: 600;
        }
        &__text {
          font-size: 1.6rem;
        }
      }
    }
  }
}
// Login Page
.login {
  &__body-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: var(--text-color-black);
  }
  &__main {
    padding: 10rem 10rem 10rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background-image: url("./assets/img/SLIET_Longowal_Main_Building.jpg");
    background-size: cover;
    background-position: top;

    @include respond(tab-port) {
      padding: 4rem 4rem 4rem 4rem;
    }
    &__login-form-container {
      // min-width: 40vw;
      padding: 3rem;
      border-radius: 2rem;
      box-shadow: 1px 3px 6px #22222222;
      background-color: #ffffff99;
      backdrop-filter: blur(0.6rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 3rem;
      &__heading {
        font-size: 3.6rem;
        user-select: none;
      }
      &__form {
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
        &__group {
          display: grid;
          grid-template-columns: 10rem 1fr;
          align-items: center;
          grid-gap: 1rem;
          &__label {
            font-size: 1.6rem;
            font-weight: 600;
            user-select: none;
          }
          &__input {
            font-size: 1.6rem;
            padding: 1rem 2rem;
            outline: none;
            border: none;
            border-radius: 1.5rem;
            background-color: #ffffffee;
            border: 1px solid #ffffff66;

            &[type="submit"] {
              padding: 0.5rem 3rem;
              color: var(--text-color-white);
              background-color: var(--primary-color);
              border: 1px solid var(--primary-color);
              transition: all 0.4s;
              width: fit-content;
              &:hover {
                background-color: var(--primary-color-darken);
                border: 1px solid var(--primary-color-darken);
              }
            }
          }
          &__forgetpassword {
            font-size: 1.6rem;
            justify-self: end;
            transition: all 0.4s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// Register Page
.register {
  &__body-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: var(--text-color-black);
  }
  &__main {
    padding: 10rem 10rem 10rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background-image: url("./assets/img/SLIET_Longowal_Main_Building.jpg");
    background-size: cover;
    background-position: top;

    @include respond(tab-port) {
      padding: 4rem 4rem 4rem 4rem;
    }
    &__login-form-container {
      // min-width: 40vw;
      padding: 3rem;
      border-radius: 2rem;
      box-shadow: 1px 3px 6px #22222222;
      background-color: #ffffff99;
      backdrop-filter: blur(0.6rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 3rem;
      &__heading {
        font-size: 3.6rem;
        user-select: none;
      }
      &__form {
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
        &__group {
          display: grid;
          grid-template-columns: 13rem 1fr;
          align-items: center;
          grid-gap: 1rem;
          &__label {
            font-size: 1.6rem;
            font-weight: 600;
            user-select: none;
          }
          &__input {
            font-size: 1.6rem;
            padding: 1rem 2rem;
            outline: none;
            border: none;
            border-radius: 1.5rem;
            background-color: #ffffffee;
            border: 1px solid #ffffff66;

            &[type="submit"] {
              padding: 0.5rem 3rem;
              color: var(--text-color-white);
              background-color: var(--primary-color);
              border: 1px solid var(--primary-color);
              transition: all 0.4s;
              width: fit-content;
              &:hover {
                background-color: var(--primary-color-darken);
                border: 1px solid var(--primary-color-darken);
              }
            }
          }
          &__forgetpassword {
            font-size: 1.6rem;
            justify-self: end;
            transition: all 0.4s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// Profile Page
.profile {
  &__body-container {
    font-family: "Poppins";
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10rem 10rem;
    grid-gap: 10rem;
    min-height: 79vh;
    position: relative;
    @include respond(tab-port) {
      padding: 6rem 4rem;
      grid-gap: 5rem;
      grid-template-columns: unset;
    }
  }
  &__back-button {
    font-size: 1.6rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    user-select: none;
    cursor: pointer;
    transition: all 0.4s;
    color: var(--text-color-black);
    &:hover {
      color: var(--primary-color);
    }
  }
  &__header {
    position: relative;
    display: flex;
    // align-items: center;
    justify-content: center;

    &__profile {
      display: flex;
      flex-direction: column;
      grid-gap: 3rem;

      &__basic-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        grid-gap: 1rem;
        &__dp {
          max-width: 30rem;
          max-height: 30rem;
          object-fit: cover;
          object-position: top;
          border-radius: 2rem;
        }
        &__text {
          &__name {
            font-size: 3.8rem;
            @include respond(tab-port) {
              font-size: 3.6rem;
            }
          }
          &__brief {
          }
        }
      }
      &__external-links {
        display: flex;
        flex-direction: column;
        &__links {
          align-items: center;
          text-align: center;
          display: flex;
          grid-gap: 1rem;
          justify-content: center;

          &__link {
            max-width: 3rem;
            &__icon {
            }
          }
        }
      }
    }
  }
  &__main {
    overflow-x: hidden;
    overflow-y: auto;
    &__info-container {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
      &__heading {
        margin-bottom: 1.5rem;
      }
      &__info {
        display: flex;
        flex-direction: column;
        &__group {
          display: grid;
          grid-gap: 1rem;
          align-items: center;
          grid-template-columns: 13.5rem 1fr;
          &__title {
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            position: relative;
            // &::after {
            //   content: ':';
            //   position: absolute;
            //   right: 0;
            //   bottom: 1px;
            // }
          }
          &__text {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

// Gallery Page
.gallery {
  &__body-container {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;

    padding: 3rem 10rem;
    grid-gap: 6rem;
    min-height: 79vh;
    @include respond(tab-port) {
      padding: 4rem;
      grid-gap: 3rem;
    }
  }
  &__header {
  }
  &__main {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    &__category-options {
      display: flex;
      grid-gap: 1rem;
      flex-wrap: wrap;
      &__category {
        border: 1px solid var(--primary-color);
        outline: none;
        background-color: transparent;
        color: var(--primary-color);
        font-size: 1.6rem;
        transition: all 0.4s;
        padding: 0.7rem 2rem;
        border-radius: 1rem;
        font-weight: 600;
        &:hover,
        &--active {
          border-color: var(--primary-color-darken);
          background-color: var(--primary-color-darken);
          color: var(--text-color-white);
        }
      }
    }
    &__gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-auto-rows: min-content;
      grid-gap: 1.5rem;
      &__item {
        overflow: hidden;
        position: relative;
        opacity: 0.8;
        transition: opacity 0.4s;
        &:hover {
          opacity: 1;
          &__name::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--primary-color);
          }
        }
        &__name {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 1.6rem;
          width: 100%;
          transition: transform 0.3s 0.4s;
          color: var(--text-color-white);
          z-index: 3;
          padding: 0.7rem 1.4rem;
          background-color: #0092dc22;
          color: var(--text-color-white);
          backdrop-filter: blur(1px);
        }
      }
    }
  }
}
// About
.about {
  &__body-container {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;

    min-height: 79vh;
  }
  &__header {
    background-image: linear-gradient(to right bottom, #0092dc55, #0092dc55),
      url("./assets/img/sliet-alumni-about.jfif");
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: var(--text-color-white);
    text-shadow: 1px 2px 4px #22222255;
  }
  &__main {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
  }
  &__header-tagline {
    text-align: center;
    padding: 2rem 3rem;
  }
  &__paragraph {
    padding: 3rem 10rem;
    @include respond(tab-port) {
      padding: 3rem 4rem;
    }
    p {
      text-align: center;
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }
}

/* ===================
For Bootstrap
=================== */
.container {
  font-family: Poppins;
}

/* -=-=-=-=-=-=
CSS Utilities
-=-=-=-=-=-= */
.text {
  &--bold {
    font-weight: 700;
  }
  &--regular {
    font-weight: 400;
  }
}
.display {
  &--none {
    display: none;
  }
}
.primary-color {
  color: var(--primary-color);
  &--hover {
    color: var(--primary-color);
    &:hover {
      color: var(--primary-color-darken);
    }
  }
}
