<div class="constitution container mt-5">
    <div class="constitution__heading text-center">
        <h2>CONSTITUTION AND BYE LAWS OF SLIET ALUMINI ASSOCIATION </h2>
    </div>
    <div class="constitution__text mt-5">
        <ol>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, nobis architecto? Perspiciatis,
                magnam. Doloremque tempore, rem ab velit aut earum veritatis modi nobis alias</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, nobis architecto? Perspiciatis,
                magnam. Doloremque tempore, rem ab velit aut earum veritatis modi nobis alias</li>
            <li>
                <h3>DEFINITION</h3>
                <ol>
                    <li>
                        <p> <span>Bylaws:-</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                            cupiditate odit vitae explicabo. Dignissimos tempore earum, soluta voluptatum natus,
                            laudantium aliquam cumque odio possimus inventore nam vero praesentium repudiandae suscipit?
                        </p>
                    </li>
                    <li>
                        <p> <span>Bylaws:-</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                            cupiditate odit vitae explicabo. Dignissimos tempore earum, soluta voluptatum natus,
                            laudantium aliquam cumque odio possimus inventore nam vero praesentium repudiandae suscipit?
                        </p>
                    </li>
                    <li>
                        <p> <span>Bylaws:-</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                            cupiditate odit vitae explicabo. Dignissimos tempore earum, soluta voluptatum natus,
                            laudantium aliquam cumque odio possimus inventore nam vero praesentium repudiandae suscipit?
                        </p>
                    </li>
                    <li>
                        <p> <span>Bylaws:-</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                            cupiditate odit vitae explicabo. Dignissimos tempore earum, soluta voluptatum natus,
                            laudantium aliquam cumque odio possimus inventore nam vero praesentium repudiandae suscipit?
                        </p>
                    </li>
                    <li>
                        <p> <span>Bylaws:-</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                            cupiditate odit vitae explicabo. Dignissimos tempore earum, soluta voluptatum natus,
                            laudantium aliquam cumque odio possimus inventore nam vero praesentium repudiandae suscipit?
                        </p>
                    </li>
                    <li>
                        <p> <span>Bylaws:-</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                            cupiditate odit vitae explicabo. Dignissimos tempore earum, soluta voluptatum natus,
                            laudantium aliquam cumque odio possimus inventore nam vero praesentium repudiandae suscipit?
                        </p>
                    </li>
                    <li>
                        <p> <span>Bylaws:-</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                            cupiditate odit vitae explicabo. Dignissimos tempore earum, soluta voluptatum natus,
                            laudantium aliquam cumque odio possimus inventore nam vero praesentium repudiandae suscipit?
                        </p>
                    </li>
                    <li>
                        <p> <span>Bylaws:-</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                            cupiditate odit vitae explicabo. Dignissimos tempore earum, soluta voluptatum natus,
                            laudantium aliquam cumque odio possimus inventore nam vero praesentium repudiandae suscipit?
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <h3>MISSION OF THE SAA</h3>
                <ol>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis hic sint molestias
                        accusantium mollitia minus quas aperiam a dolorem, cupiditate tempora ad facere id commodi
                        reprehenderit blanditiis tenetur natus.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis hic sint molestias
                        accusantium mollitia minus quas aperiam a dolorem, cupiditate tempora ad facere id commodi
                        reprehenderit blanditiis tenetur natus.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis hic sint molestias
                        accusantium mollitia minus quas aperiam a dolorem, cupiditate tempora ad facere id commodi
                        reprehenderit blanditiis tenetur natus.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis hic sint molestias
                        accusantium mollitia minus quas aperiam a dolorem, cupiditate tempora ad facere id commodi
                        reprehenderit blanditiis tenetur natus.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis hic sint molestias
                        accusantium mollitia minus quas aperiam a dolorem, cupiditate tempora ad facere id commodi
                        reprehenderit blanditiis tenetur natus.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perspiciatis hic sint molestias
                        accusantium mollitia minus quas aperiam a dolorem, cupiditate tempora ad facere id commodi
                        reprehenderit blanditiis tenetur natus.</li>
                </ol>
            </li>
            <li>
                <h3>OBJECTIVES OF SAA</h3>
                <ol>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum pariatur laudantium, incidunt nostrum ut debitis eos sunt qui ipsam saepe officia eveniet eius labore. Impedit, expedita commodi? Laborum, reiciendis!</li>
                </ol>
            </li>

        </ol>
    </div>
</div>