<div class="constitution container mt-5">
    <div class="constitution__heading text-center">
        <h2>CONSTITUTION AND BYE LAWS OF SLIET ALUMINI ASSOCIATION </h2>
    </div>
    <div class="constitution__text mt-5">
        <ol>
            <li>The Names and Association shall be SLIET ALUMNI ASSOCIATION (SAA)</li>
            <li>The Registered Office of the Association shall be situated at the office of the SLJET Alumni Association, SLIET, Longowal - 148106, Dist. Sangrur, Punjab
                 </li>
            <li>
                <h3>DEFINITION</h3>
                <ol>
                    <li>
                        <p> <span>Bylaws:-</span> The bylaws developed for governing SAA shall be governed by the Punjab Societies Registration Act, which may be modified by simple majority of the general
                            body of SAA as deemed necessary.
                        </p>
                    </li>
                    <li>
                        <p> <span>SAA:-</span> The association of alumni of SLIET, Longowal (named as SLIET ALUMNI ASSOCIATION) registered under the Punjab Societies Registration Act as a society and
                            has an office in the campus of SLIET Longowal also referred to as the 'ASSOCIATION
                        </p>
                    </li>
                    <li>
                        <p> <span>Patron:-</span> The Director of Sliet, Longowal will be the patron of SAA.
                        </p>
                    </li>
                    <li>
                        <p> <span>General Body:-</span>General Body annual General Body consist of all alumni members, faculty and 
                            technical staff members, honorary member and Patron of the Association 
                        </p>
                    </li>
                    <li>
                        <p> <span>Quorum:-</span>The minimum number of members required for a meeting to be conducted or a 
                            resolution to be passed.
                        </p>
                    </li>
                    <li>
                        <p> <span>Voting:-</span>Voting in case of failure to achieve unanimous decision, any issue can be put to voting
                    </li>
                    <li>
                        <p> <span>Executive Committee(EC):-</span>EC is the governing body elected by the General Body for the day-to-day functioning of the 'ASSOCIATION Details of EC's formation role
                            and functioning are described in Clause 9 of the By Laws.
                        </p>
                    </li>
                    <li>
                        <p> <span>Communication:-</span> A process of sharing Information or any information that is passed to any member or group of members of the general body using one or more written 
                            medium of communication (viz letter, fax, Newspaper Advertisement and/or email and is dispatched at least 20 days in advance to the most recent address/ Telephone Fax Number/email 
                            IDs, available with SAA office, of the desired receiver or in a local dally. Communication shall be deemed to be complete as against SAA at the end of 20 days of dispatch of information/ publishing 
                            in a local daily. Any communication to the office of SAA as against a member of SAA shall be deemed to complete only after the receipt of the communication by the office.
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <h3>MISSION OF THE SAA</h3>
                <ol>
                    <li> To create a world-class organization for bringing together all the alumni of the SLIET. Longowal and providing a forum for its members.</li>
                    <li> To facilitate professional networking for mutual benefit in academic, professional and/ or business area</li>
                    <li> To facilitate and encourage alumni to contribute to the Institute's efforts for achieving excellence in academics and research through allocating/ raising furids and/or
                        sharing knowledge & expertise of its members in areas pertaining to academics, Infrastructure Industry interactions and any other area that the alumni and the Windows institute feel appropriate, and</li>
                    <li> To offer expertise effort and/ or financial resources to assist not-for-profit organizations dedicated to Indias's development and thereby contribute to the well being.</li>
                    <li> To help alumni help their profesional goals.</li>
                    <li> To contribute to the institute vision of being recognized among the world'dleading institutions in academics, research excellence and innovations.</li>
                </ol>
            </li>
            <li>
                <h3>OBJECTIVES OF SAA</h3>
                <ol>
                    <li>Towards achieving the above MISSION, SAA will focus on the following objectives:</li>
                    <li>To enable professional networking among alumunus, among faculties, technical staffs with alumni as well as networking of existing students with alumni for mutual
                        benefit in academic, professional and/or business areas, including employment Network for new graduates or alumni looking for career upgrade/change, and alumni
                        displaced from workforce</li>
                    <li>To provide a platform for social interactions and special interest groups</li>
                    <li>To raise funds for the Institute.</li>
                    <li>To extend academic support to the Institute through various networks such as visiting faculty network Curriculum development network Distance learning
                        network academic endowment network' etc</li>
                    <li>To render assistance to the students of the Institute through grants scholarships and prizes and to provide assistance in academics, placement or any other area as
                        appropriate</li>
                    <li>To provide financial and technical collaboration support for cutting-edge applied and industrial research for the global marketplace</li>
                    <li>To provide financial and technical collaboration by alumni researchers and faculty in top research institutions around the world</li>
                    <li>To encourage and facilitate the alumni taking up activities that is geared to improve society at large and contribute to national development </li>
                    <li>To provide group benefits like health services, health insurance, medical services.etc </li>
                    <li>To help the e alumni families and needy alumni</li>
                    <li>To mobilize funds required to manage the affairs and activities of the association</li>
                    <li>To professionalize leveraging of thie database with an exhaustive and transparent documentand,</li>
                </ol>
            </li>
            <li>
                <h3>BY LAWS OF SAA </h3>
                <p>The following are the By Laws of the SLIET Alumni Association(SAA), which will be a registered society, governed by the Punjab Societies Act</p>
                    <ol>
                        <li><span>GENERAL</span> The bylaws developed for governing SAA shall be governed by the Punjab Societies Registration Act, which may be modified by simple majority of the general
                            body of SAA as deemed necessary.
                        </li>
                        <li>The address of the registered office is Science Block, SLIET, Longowal-148 106 (to be allotted) </li>
                        <li><Span>Jurisdiction:</Span>SAA comes under the jurisdiction of the Registrar of Firms and Societies, Punjab 6.The objective of these bylaws is to carry out the mission and objectives of SAA, as outlined in the aforementioned Memorandum and Articles of Association, in
                            general, and in particular, to provide an organization through which the Alumni of the SLIET, Longowal, faculty, technical staff and students of the institute can interact with each other for mutual benefit and for the benefit of the society at large. These bye laws specify the structure, rules of the process, and procedure for the proper
                            governance of the organization in accordance with the guidelines of the Punjab Societies Act.</li>
                        <li>The Business Hours of the society shall be between 9:00 am and 5.00 pm on all working days except Saturdays, Sundays and Government holidays.</li>
                        <li>The objective of these bylaws is to carry out the mission and objectives of SAA, as outlined in the aforementioned Memorandum and Articles of Association, in
                            general, and in particular, to provide an organization through which the Alumni of the SLIET, Longowal, faculty, technical staff and students of the institute can interact
                            with each other for mutual benefit and for the benefit of the society at large. These bye laws specify the structure, rules of the process, and procedure for the proper
                            governance of the organization, in accordance with the guidelines of the Punjab Societies Act.</li>
                        <li><span>Activities:</span>nSAA through its Existence Committee will carry on activities such as conducting seminars, holding meetings, organizing events, publishing magazines and
                            newsletters, maintaining website and technology and infrastructure, and any other activity that facilitates achievements of the association.</li>
                        <li><span>Responsible Office Bearers:</span>The President, the secretary, executive committee of SAA shall be the persons authorized to sue and be sued on behalf of the
                            association.</li>
                        <li><span>Empowerment to Execute SAA Mission:</span>The President and the Secretary of SAA along with the Executive Committee are the persons empowered to take decisions
                            and direct the course of the association within the framework of the Memorandum and Bye-Laws.</li>    
                    </ol>
            <li>
                <h3>Membership</h3>    
                <p>Member type and eligibility for membership to the association is categorized as defined below:
                </p>
                    <ol>
                        <li><span>Patron:</span>The Director of the SLIET, Longowal, shall be the ex-oficio Patron of SAA.</li>
                        <li><span>Alumni Member:</span>Any person who has received Ph.D, Master degree, degree, diploma, certificate ICD conferred by the SLIET, Longowal, shall be eligible to enroll as.
                            Alumni Member.</li>
                        <li><span>Faculty and Technical Staff Member:</span>The academic and technical staff, and registrar of the SLIET, Longowal, other than those falling under category i.e, 2.1 (
                            above shall be eligible to become Staff Member 8.</li>
                        <li><span>Honorary Member:</span>SAA may decide to confer honoraray membership to eminent persons.</li>
                    </ol>
                <li><span>Enrollment:</span>The rules for enrollment of members to the association are as follows:</li>
                <ol>    
                <li><span>Alumni Members:</span>All individuals who have been conferred Ph.D, Master degree, degree, diploma or certificate by SLIET, Longowal and whose membership fees
                        have been received by SLIET Alumni Association, will be automatically deemed to be a member of the alumni association. Alumni members are expected to
                        register with the alumni association for future communication and periodically update their contact information in the alumni database, online at the SAA website.</li>
                    <li><span>Staff Members:</span>The academic and technical staff including visiting academic staff and the Registrar, who are not alumni of SLIET shall be entitled for registration
                        of membership in the form prescribed by the executive committee of the association</li>    
                    <li><span>Honorary Members:</span>Eminent persons may be admitted to be the honorary members, as may be considered by the executive committee of the association, in
                        consultation with the patron. Ex- Patrons of SAA automatically become Honorary Members after they cease to be the Director of SLIET, Longowal</li>
                    </ol>
                <li><span>Alumni Registry:</span>A registry and/or an electronic database of members shall be kept at the registered office of the association.</li>
                <li><span> Changes of Address Notification:</span>If a member changes his/her postal and/or e-mail address, he/she shall notify his/her new address to the Alumni Association
                    Office, and the entry in the registry shall be accordingly changed; but if he/she fails to notify his/her new address, the address in the roll of members or Registry shall
                    be deemed to be his/her address.</li>
                <li><span>Alumni-SAA Communication:</span>All communication to the members will be through e-mail, except where the member makes a request in writing for alternative means of
                    communication.</li>
                <li><span>Term of Ex-officio Membership:</span>Membership: Where a member of the association becomes a member by virtue of the office or appointment he/she holds, his/her membership of
                    the association shall terminate when he/she ceases to hold that office or appointment, with the exception of the Director of SAA as outlined in (2.2-c) above.</li>
                <li><span>Termination of Membership:</span>The Executive Committee of the SAA may cease any individual's status as a member under any of the following circumstances:</li>
                    <ol>
                        <li><span>Death, Mental Disability, or Criminal Conviction:</span>If he/she dies, resigns, becomes of unsound mind, or is convicted of a criminal offence involving, moral woe.</li>
                        <li><span>Expulsion due to Misconduct as per Rules:</span>The Executive committee shall have power to expel a member for willful disregard to the. association's ules,
                            misconduct on the part of the member, provided that the member concerned will be an opportunity for explaining his conduct.</li>
                        <li><span>Appeal of Expulsion:</span>Any member thus expelled can appeal to the executive committee and to the patron for reconsideration of expulsion with justification
                            a P Type here to search</li>
                    </ol>

    </ol>      
    </div>
</div>