.constitution__heading h2{
    font-size: 30px;
    font-weight: 600;

}
.constitution__text span,h3{
    font-size: 15px;
    font-weight: 700;
    
}
.constitution__text li{
    text-align: justify;
    margin-bottom: 10px;
}